[2016-10-05 07:02] homanp opened #3 "31000 Error when doing outbound calls."
Hi Twilio team,

I'm receiving a 31000 error when using the `beta2` lib.

The logs suggest there's some kind of authentication error. `X-Twilio-Error: 31201 Authentication failed`

I've attached the verbose logs below and would appreciate your help with this!

[code]

[2016-10-05 07:10] bobiechen-twilio commented on #3
Hi @homanp,
I was replying the other issue comment from you and looks like you have tried the new Voice SDK! This is awesome.
I've checked your JWT token and unfortunately we've switched from the Twilio Capability Token to a new generation Twilio Access Token, which has significantly different format. Have you tried our [Voice Quickstart Server](https://github.com/twilio/voice-quickstart-server-py

[2016-10-05 07:21] homanp commented on #3
Ah, thought so!

Thanks!

[2016-10-05 10:39] ghost opened #4 "New client (6.x) has no trail of keys as old one (5.x) did"
Hi guys

Thanks for the quickstart sample.

Wanted to ask how to create keys programmatically with new API (6.x) as (!) official docs provide incorrect sample.

Documentation: https://www.twilio.com/docs/api/rest/keys

Download the Python helper library from twilio.com/docs/python/install
from twilio.rest import Client

Your Account Sid and Auth Token from twilio.com/user/account
account_sid = "AC

[2016-10-05 11:24] #4 closed, assigned to nobody

[2016-10-05 11:25] ghost commented on #4
twilio 6.0rc9 is not the latest, to get latest you need to install 6.0.0rc11

Disregard this issue, please.

Sorry, thanks and have a good day!

[2016-10-05 18:44] homanp opened #5 "Outgoing Call ending after 4s"
Hi,

Stumbled upon another bug. Outgoing calls fail after 4s.

Attached VoiceClient logs.

Any ideas @bchen-twilio?

[\- (2).txt](https://github.com/twilio/voice-quickstart-objc/files/512049/-.2.txt)

[2016-10-05 18:45] homanp commented on #3
Implementing the Voice Quickstart Server did it for me.

Thanks again!

[2016-10-05 18:45] #3 closed, assigned to nobody

[2016-10-05 18:57] bobiechen-twilio commented on #3
Awesome. Glad that helped.
Thanks @homanp!

[2016-10-05 20:10] homanp commented on #5
Turned out to be a client side issue when we integrated CallKit @bchen-twilio.

Closing this!

[2016-10-05 20:10] #5 closed, assigned to nobody

[2016-10-05 20:21] bobiechen-twilio commented on #5
Hi @homanp,
I was checking the log and was about to reply the thread.
But anyway, glad you figured it out 👍

[2016-10-05 20:52] homanp commented on #5
Thanks @bchen-twilio! And again, good work 👍

[2016-10-05 21:47] homanp commented on #5
BTW, @bchen-twilio. Seems like we can't hear the "ringing"-tone when doing outbound calls with callkit. Any ideas on that?

[2016-10-05 21:50] bobiechen-twilio commented on #5
Hi @homanp,
Unlike the 1.2 Client SDK, the new Voice SDK doesn't play ringtones anymore. We are giving the power of ringtone playback back to the applications.

[2016-10-05 22:05] homanp commented on #5
Oh, I was talking about the "beep beep" sound the caller hears until the receiver answers. I hear it in my simulator but not on the device.

My guess is it has something to do with CallKit since that doesn't run on the sim.

Any suggestions?

[2016-10-05 22:12] bobiechen-twilio commented on #5
I agree. This could be that beta2 (without the audio session handling methods) is not happily cooperating with CallKit. Could you share more detailed steps about how you reproduce the issue so we can also give it a try and see if this is solved in the next beta-to-come?
Thanks.

[2016-10-06 06:14] homanp commented on #5
@bchen-twilio I'll create another Issue with examples.

[2016-10-06 06:28] homanp opened #6 "Audio not playing nice with CallKit"
Hi,

I tested integrating Apple CallKit into my Twilio Programmable Voice SDK project and there seems to be some issues.

Prior to integrating CallKit I could here the "beep beep" tones before the receiver had picked up the phone, this disappeared when I added CallKit support.

Perhaps I'm doing something wrong, see code below:

[code]

Any ideas how to enable audio when using CallKit?

[2016-10-06 09:15] homanp opened #7 "Error when I try to register VOIP Pushes"
Hi,

Getting this error when trying to register for push notifications:

`Error Domain=com.twilio.TVONotificationClient Code=31301 "Failed to register. Code: 5." UserInfo={NSLocalizedDescription=Failed to register. Code: 5.}`

I've created credentials as per your guide and everything seems to be fine.

But get this error. Any ideas?

[2016-10-06 13:03] homanp commented on #7
This was fixed by adding an IDENTITY to the accessToken.

[2016-10-06 13:03] #7 closed, assigned to nobody

[2016-10-06 13:04] homanp commented on #6
And here is the DEBUG log:

[code]

[2016-10-06 13:27] homanp commented on #6
After testing to record the call it seems as though this is an audio output issue. Input works just fine as hear both parties in the recording.

[2016-10-07 12:55] homanp commented on #6
Also tested implement CallKit for inbound calls and that works exactly as it should. No audio issues.

[2016-10-07 16:16] bobiechen-twilio commented on #6
Cool @homanp 👍
Did you try and fix anything, or just added CallKit action/transaction stuff and inbound call audio worked?
Btw it'd be great if you could also try various call scenarios like:
- app in the foreground, app in the background, device lock
- default audio output, speaker, bluetooth
  We are working on listing as many possible cases as we can and see how the SDK behaves. Hopefully in th

[2016-10-07 16:40] homanp commented on #6
I just added the inbound action and it worked out of the box.

Inbound works fine in all of those scenarios. But I'll report any issues here for your information.

[2016-10-09 22:05] homanp opened #8 "Can't upload app with TwilioClient pod to App Store"
Hi,

Seems as though I can't upload a build with this version of the TwilioClient to the App Store. Any ideas why?

Getting: Code object is not signed at all

[2016-10-09 22:05] homanp commented on #8
Is there anything special I need to do to get it to work?

[2016-10-10 07:46] homanp commented on #8
Issue is that Apple requires the .sh files to be codesigned as well. Thus one needs to manually remove this file in IPA.

[2016-10-10 17:10] bobiechen-twilio commented on #8
Hi @homanp,
Sorry for your inconvenience. We realized that the `strip_archs.sh` was poisoning codesigning and we've worked this out and the solution will be included in the next beta.
Unfortunately this simator-symbol-removing process is still required when you manually drag `TwilioVoiceClient.framework` into app project's Embedded Framework(Binaries) place unless you install the framework via Coc

[2016-10-10 17:18] homanp commented on #8
Yeah! I actaully Didn't drag n' drop it. Installed through Cocoapods!

[2016-10-10 17:25] bobiechen-twilio commented on #8
Awesome. Looking forward to seeing your awesome apps!
And just FYI, last week the app we submitted to the App Store to make sure the SDK conforms to 's guideline got approved.

[2016-10-10 17:34] homanp commented on #8
Yeah, really like the stuff you guys are making. Our app is in review at the moment

[2016-10-10 17:34] #8 closed, assigned to nobody

[2016-10-11 20:44] paynerc commented on #8
@homanp Just an FYI that `2.0.0-beta3` has been released and it has the fix to the removal script for the signing issue.

[2016-10-11 21:11] homanp commented on #8
Wow, Awesome! Is there any changelog I could view?

[2016-10-12 02:02] girtis commented on #8
@homanp of course - the changelog is at https://www.twilio.com/docs/api/voice-sdk/ios/changelog#200-beta3!

[2016-10-14 06:52] homanp commented on #8
@girtis Seems as though I can't install the beta3 through cocoapods. `Getting Unable to satisfy the following requirements`. Anything else I must do?

[2016-10-14 14:08] paynerc commented on #8
Have you tried doing a `pod update`? That should kick it off to pull the latest from out git repo. Let me know if that doesn't solve it for you.

[2016-10-21 00:41] paynerc commented on #6
Just an FYI, @homanp... We released Beta 4 today which has better support and handling for CallKit.

There are also quick start apps geared towards CallKit usage:
- https://github.com/twilio/voice-callkit-quickstart-objc
- https://github.com/twilio/voice-callkit-quickstart-swift

[2016-10-21 04:31] homanp commented on #6
Awesome! Will try it out today!

[2016-10-21 17:01] homanp commented on #6
Works really nice in beta4 @bchen-twilio and @paynerc

[2016-10-21 17:12] paynerc commented on #6
Fantastic! Is there anything else outstanding with this issue that beta 4 doesn't address?

[2016-10-21 17:49] homanp commented on #6
Nope, Seems to fix it!

[2016-10-21 18:55] paynerc commented on #6
Perfect! I will close out this issue. As always, feel free to let us know if you experience any further issues!

[2016-10-21 18:55] #6 closed, assigned to nobody

[2016-10-29 03:53] marcelgoya opened #12 "Getting random Twilio Services Error"
I am trying to make an outbound voice call and I am getting this error message when I'm running the Outgoing Call function. I have not configured the incoming call push feature, so might this be the reason? Or do I need to have a special version of the PHP SDK for the access token generation? Any help would be appreciated.

Btw, I'm running the quickstart code. Below my console output:

WARNING: n

[2016-10-29 06:05] bobiechen-twilio commented on #12
Hi @marcelgoya,
Bobie from the iOS Voice SDK team of Twilio. Thanks for trying the Programmable Voice SDK and the quickstart sample app.
Could it be that you used to use the TwilioClient iOS SDK (v1.2.x) and you were using the [Twilio Capability JWT token](https://www.twilio.com/docs/api/client/capability-tokens)? Indeed with the new Programmable Voice SDK we've switched to use the [Twilio Access

[2016-10-29 16:51] marcelgoya commented on #12
Hi @bchen-twilio,

thanks a lot for your quick reply. I've replaced my token generator with the new Twilio Access Token library but with no success. I'm still getting the same error message. This is the payload of the JWT token:

[code]

And this is the console output:

[code]

Thanks,
Marcel

[2016-10-29 16:57] marcelgoya commented on #12
Hi @bchen-twilio ,

sorry I've just checked my call logs and it's working! 😎 I'm just getting a REJECT response, that's why it's not connecting. I'll test it with my production app code in a minute.

Cheers,
Marcel

[2016-10-29 23:13] marcelgoya commented on #12
Hi @bchen-twilio ,

everything is working fine for me now. Thanks for your help.

Best,
Marcel

[2016-10-29 23:13] #12 closed, assigned to nobody

[2016-10-31 17:11] bobiechen-twilio commented on #12
@marcelgoya
You are welcome! It was awesome that you get it figured out by yourself.
Thanks again for trying the Voice SDK and giving us feedbacks.
We look forward to seeing you building awesome apps with the SDK in  the future!

[2016-10-31 17:15] marcelgoya commented on #12
@bchen-twilio
The last part was easy because I only had to check the call logs 😎 I just didn't know that you guys changed the method to generate the access token because it's not written in the docs. Again, thx for your help :)

[2016-10-31 17:20] bobiechen-twilio commented on #12
@marcelgoya
I'll create a task ticket for tracking the documentation betterment to highlight the token format change. Thanks!

[2016-10-31 17:34] marcelgoya commented on #12
@bchen-twilio
Great, thanks!

[2016-11-22 19:05] 5fcgdaeb opened #13 "Error: 506637 -> Inside makeCall, failed to make outgoing call (Previous call is never terminated)"
Hello team,

I am using the beta4 version of the new TwilioVoiceClient and we seem to have an issue cleaning up the calls. The very first call works well but after that, the client can't make any more calls. Details are below, do you know why the call is never terminated?

- I am setting the incomingCall and outgoingCall to nil when the call is over.
- The incomingConnectionDidDisconnect is never

[2016-11-22 19:35] bobiechen-twilio commented on #13
Hi @5fcgdaeb,
Bobie here from the Voice SDK team. Thanks for reporting the issue.
Looks like you are having trouble hanging up the first call. Could you provide the `verbose` SDK log of disconnecting the first incoming/outgoing call? would also be great if could share some more code details of how the first call and the subsequent call are made/accepted/disconnected.
Are you seeing the `incomingCa

[2016-11-22 21:10] 5fcgdaeb commented on #13
Hello,

- The logs are attached. There are 2 log files: First one is for the Caller where the caller makes 2 calls. Second call fails due to the error. Second log file is for the Receiver where it successfully receives the first call. All the hang-up related logs are there. To me, the logs look pretty good; the clean-up seems successful.

- Another attachment is for the relevant piece of code. Ple

[2016-11-22 21:14] 5fcgdaeb commented on #13
Also:

- There are no didFailWithError: invocations during the successful first call. It only happens during the second call; that is expected.

[2016-11-22 21:55] bobiechen-twilio commented on #13
Thanks @5fcgdaeb,
Let me take a look and see if I can find anything suspicious.
In the meantime, could you also try the latest release-candidate of the next beta? We've actually fixed a few bugs related to AVAudioSession.
Here's the link: https://drive.google.com/file/d/0B0jCXbOI9plrWlpLRWdfQm5zeTQ/view?usp=sharing
It would be great if you could give it a go and let us know if it helps.

[2016-11-22 22:59] 5fcgdaeb commented on #13
Hello @bchen-twilio ,

- Sure, I can do that. Any plans to make it available via CocoaPods? That would be easier to integrate.

- We will be going live with the beta4 at the end of this week. So, it would be great if you could take a look at what the problem might be when you have the time.

Thanks,
Guven.

[2016-11-23 00:39] 5fcgdaeb commented on #13
One more detail about the bug:

- If the receiving party doesn't pick up the call but instead rejects it, then this problem doesn't occur. So, the problem only occurs if there is an established call.

- Any pointers that you can think of? I can start looking in that direction to fix the issue. Perhaps invoking call() and disconnect() from different threads? I made sure that they are invoked from t

[2016-11-23 18:22] bobiechen-twilio commented on #13
Hi @5fcgdaeb,
So if I am understanding the steps correctly:
1. the caller first made a call to the receiver
2. the receiver accepted the call
3. the receiver hung up the call
4. the call tried to make another outgoing call to the receiver, after the first call was disconnected
then the audio error caused the failure.

I need a few more pieces of info from you to dig into the issue:
- I didn't see

[2016-11-24 22:21] 5fcgdaeb commented on #13
- Yes, the steps are correct.

- I see the disconnect message. Take a look at this line, that is what I print during disconnect:
2016-11-22 15:50:44.662250 RandomTaps[890:719821] [VERBOSE TVOOutgoingCall] handlePJSIPInviteStateDisconnected. Error: (null)
SIXAM: OUTGOING DISCONNECT:

- I have tried two iOS Devices both on 10.1; I didn't have a chance to try it on something else.

- I haven't run th

[2016-11-29 18:33] bobiechen-twilio commented on #13
Hi @5fcgdaeb,
Sorry for keeping you waiting for the update.
Could you provide us the lines where your application turns on/off audio? The Voice/Client SDK might not happily cooperate in such case but we would definitely love to hear your use case and see if we could provide a fix or workaround.
Thanks.

[2016-11-29 22:00] 5fcgdaeb commented on #13
Sure, the relevant audio code is attached.

[Audio_Code.txt](https://github.com/twilio/voice-quickstart-objc/files/620338/Audio_Code.txt)

Quick question: **Will the old Twilio SDK be able to pick up background calls when compiled with the iOS 10 base SDK?**
To elaborate:
1) App receives a VoIP Push notification indicating that an incoming call is coming soon (via PushKit).
2) The app might be dea

[2016-11-29 22:23] bobiechen-twilio commented on #13
Hi @5fcgdaeb,
Thanks for the codes. The SDK requires the AVAudioSession category to be `AVAudioSessionCategoryPlayAndRecord` and mode to be `AVAudioSessionModeVoiceChat`. I'll try to experiment the category that can happily do the ringtone playback and won't conflict the SDK audio settings.
As for iOS 10 SDK + TwilioClient iOS SDK, unfortunately  had dropped the (background) VoIP socket support

[2016-11-29 23:21] 5fcgdaeb commented on #13
Got it. One question here: I am also relying on VoIP Push Service to wake the app up. What else is Twilio offering here that I can't do myself?

[2016-11-29 23:30] bobiechen-twilio commented on #13
Hi @5fcgdaeb,
With the new Programmable Voice iOS SDK, you need to hand off the VoIP Push to Twilio. Instead of sending a VoIP Push to the callee prior to making the real outgoing call, you need to set up [the Twilio Push Notification service and credential in the console](https://www.twilio.com/console/voice/credentials), so that when Twilio receives the call from the caller, it knows to send the

[2016-11-29 23:35] 5fcgdaeb commented on #13
Thanks Bobie. I have actually implemented the whole flow with the new Twilio SDK, so I have seen this work in action. One thing I don't understand is that how the new Twilio SDK can establish VoIP connections in the background (after being woken up) while the old SDK cannot. What has changed in the SDK that allows you to do that?

[2016-11-29 23:40] bobiechen-twilio commented on #13
Actually there is no longer any persistent connection for incoming calls anymore. Unlike the old Client SDK which used to send keep-alive packets and refresh SIP registrations, the Programmable Voice SDK relies on the token in the push notification payload to answer the incoming call, therefore no need to try keeping the persistent SIP URI entry anymore.

[2016-12-01 17:50] bobiechen-twilio commented on #13
Hey @5fcgdaeb,
We've just released beta5 to include a couple of bugfixes. Would be great if you could give it a try. Thanks.

[2016-12-27 11:48] ranjitsoni commented on #7
Hi,

Where to add IDENTITY to the accessToken, could you please share code snippet.

Thanks

[2016-12-27 19:31] bobiechen-twilio commented on #7
Hi @ranjitsoni,
First of all, thank you for choosing the Twilio Programmable Voice iOS SDK.
[This line](https://github.com/twilio/voice-quickstart-server-python/blob/master/server.py#L31) is the python example of using the Twilio helper library to generate the access token with specified identity.
You will also find helper libraries of different languages at the bottom of this [getting-started gui

[2016-12-29 07:49] shubhamgupta-mob-ibtech opened #16 "Error during sdk registration: error Code: 5"
I am using TwilioVoiceClient sdk version 2.0.0-beta5.
I am passing the parameters "AccessToken" and "deviceToken" (Push registry token for Apple VoIP Service) for client registration and getting below error.
[ERROR VoiceClient] Inside register:deviceToken:completion:, failed to register for Twilio push notifications. Error:Failed to register. Code: 5.

[2017-01-02 18:30] bobiechen-twilio commented on #16
Hi @shubhamgupta-mob-ibtech,
Bobie here from the iOS SDK team, and I'd like to first thank you for choosing the Twilio Programmable Voice SDK.
Could you share more details about your tokens (both access and device token) and how you generate your access tokens? `Code: 5` usually means the operation failed the authentication, which could be because of invalid credentials in the access token. Please

[2017-01-03 10:22] shubhamgupta-mob-ibtech commented on #16
Hi Bobie @bchen-twilio ,
 Thanks for the response. Below are the details to create access token and device token.

Testing Environment:-
· Server Twilio SDK Version :- 7.x
. TwilioVoiceClient sdk version 2.0.0-beta5
· Java Version :- Java 8
· OS Version :- iOS 10.1

Device Token:- I have follow the procedure from Get started guidelines to create voip certificate and Twilio Push Credentials for the

[2017-01-03 18:42] bobiechen-twilio commented on #16
Hi @shubhamgupta-mob-ibtech,
Thanks for getting back the details. I fed your access token to [jwt.io](jwt.io) and found that the `grant` field is `ip_messaging`, which should be `voice` for the Programmable Voice iOS SDK. Here's the python server sample to use the Twilio helper library to generate the access token with the specific grant for the Voice SDK:
- Import `VoiceGrant` https://github.com/

[2017-01-04 09:50] shubhamgupta-mob-ibtech commented on #16
Hi Bobie,
The solution you have suggested works for me.
Thanks for your help.  :)
Regards,
Shubham

[2017-01-04 09:50] #16 closed, assigned to nobody

[2017-01-04 18:11] bobiechen-twilio commented on #16
Awesome, Shubham! Glad that helped.
Please feel free to send us any feedback any time in the future.

bobie

[2017-01-05 05:31] alexiss03 opened #17 "Interoperability with TwilioClient"
Hi! This is more of a question than an issue. Do you support interoperability between TwilioClient and TwilioVoiceClient? Currently, our app deployed in App Store is using TwilioClient but we want to migrate to TwilioVoiceClient. Is their a way for us to establish a voice call connection between the two versions? If not, will you support this in the future?

Thanks,
Alexis

[2017-01-05 06:29] bobiechen-twilio commented on #17
Hi @alexiss03,
Bobie here from the iOS SDK team.
Good question. Are you asking about the interoperability for the two versions to coexist inside the same app and use the APIs of both of them, or are you asking specifically if two the apps, one version with the TwilioClient SDK and the other with the TwilioVoiceClient framework, are able to establish calls with each other?
The answer for the second

[2017-01-05 06:39] alexiss03 commented on #17
I was asking for the second scenario. Thanks for clearing things up @bchen-twilio.

[2017-01-05 06:47] bobiechen-twilio commented on #17
Cool, but we still recommend that you migrate as fast as you can as I mentioned that with iOS 9 and later the TwilioClient SDK won't work really well.
Thanks again for choosing the Twilio Voice SDK and please feel free to leave us feedback any time.

bobie

[2017-01-05 18:27] bobiechen-twilio commented on #17
Hi @alexiss03,
I am going to close this ticket. Please don't hesitate to contact us if you run into any issue or have any question using the Twilio Voice SDK in the future.
Thank you very much!

[2017-01-05 18:27] #17 closed, assigned to nobody

[2017-01-20 00:32] secondbreakfast commented on #13
Hey @bchen-twilio, I'm experiencing this same error in implementing the beta5 SDK. Similar situation where, if the caller picks up, the previous call is never terminated.

I have not integrated the call with a CXProviderDelegate yet, if that matters.

[2017-01-20 01:03] bobiechen-twilio commented on #13
@wlschreiber
Hi Will,
Thanks for contacting us. I have a few questions for you while I am trying to understand the situation you are experiencing:
- what is the scenario you are trying to do in your app and what are the steps that get you into this issue?
- by "no CXProviderDelegate", did you mean that there is no CallKit integration to your app?
- do you have any of your own AVAudioSession implem

[2017-01-20 01:48] secondbreakfast commented on #13
_what is the scenario you are trying to do in your app and what are the steps that get you into this issue?_
Specifically, was experiencing the issue when trying to place a new outbound call after already placing one. Steps to create an outbound call:

1. Initialized a PKPushRegistryDelegate and TVONotificationDelegate
2. Started a call using VoiceClient.sharedInstance().call(accessToken: params:

[2017-01-20 02:42] bobiechen-twilio commented on #13
Hi Will,
Thanks for your update.
As I wrote in my previous comment, the SDK manages the AVAudioSession under the hood to provide appropriate audio capabilities for Twilio to use the audio device. For now we would suggest that you don't manually configure the delicate AVAudioSession settings and leave it for the SDK. Could you please try an experiment to do the calls again but without the AVAudioSe

[2017-01-31 06:33] shubhamgupta-mob-ibtech opened #19 "Error while doing outgoing calls Code=31000"
I am using TwilioVoiceClient sdk version 2.0.0-beta5.
I am getting the below error while doing the outgoing calls.

Error Domain=TwilioServicesErrorDomain Code=31000 "Twilio Services Error" UserInfo=0x17913d90 {NSLocalizedDescription=Twilio Services Error}

The error occurs when i put the application in the background for long time (approx. 1 hour) and try to do the outgoing calls.
I Think this mi

[2017-01-31 18:48] bobiechen-twilio commented on #19
Hi @shubhamgupta-mob-ibtech
Thanks for using the SDK and we are glad that you came to us immediately with this issue.
I am sorry that the error message didn't provide much information but it definitely looks like that the token has expired.
I am guessing that you are using the server sample quickstart we provided and yes, the default token expiry of the Twilio helper library is **one hour**. For s

[2017-02-03 12:05] shubhamgupta-mob-ibtech commented on #19
Hi Bobie,
The solution you have suggested help me a lot. I will go for JWT library to check token validity before making outgoing calls.
Thanks for your help.

Shubham

[2017-02-03 12:05] #19 closed, assigned to nobody

[2017-02-03 18:53] bobiechen-twilio commented on #19
Hi @shubhamgupta-mob-ibtech,
I am glad it helped. Please don't hesitate to let us know if you run into any issue in the future and we look forward to seeing your awesome Voice app!

[2017-03-07 12:31] miken01 commented on #3
I am having a similar issue. I get a 403 error code along with the following in my console.

{"code":9200,"message":"com.twilio.domain.auth.jwt.JwtAuthorizationException: 'iss' claim SK*** was not a valid Signing Key Sid"}

I am using the quick start application server as well as the quick start Swift project and still get this error. I have also tried with the test credentials and live ones. Any

[2017-03-17 22:24] bobiechen-twilio commented on #13
Closing this issue. Please re-open or create a new ticket if you run into any trouble in the future.

[2017-03-17 22:24] #13 closed, assigned to nobody

[2017-03-23 11:20] miken01 commented on #7
I am having the same issue and I've copied the Python Quickstart code verbatim. The identify line you specified is part of this code but it is set to "voice_test". I'm just trying to see if this will work at all, so my question here is does the identity need to be changed in order for this to work? If so then what is a valid identity?

[2017-03-23 11:51] miken01 commented on #7
Never mind I figured out the issue. I had incorrect credentials for my push notification setup.

[2017-03-23 18:01] bobiechen-twilio commented on #7
Hi @miken01

Technically you are free to use any identity as long as the characters are within the ASCII char-set. In the other [issue thread](https://github.com/twilio/voice-quickstart-server-python/issues/11) you should find more explanation about how to configure the identity dynamically from the you iOS application.

cheers,
-bobie

[2017-04-04 02:58] nicolettemanas opened #25 "Audio missing when headphones are unplugged"
Hi team,

I am having problems regarding audio using 2.0.0-beta7. Please see ff steps to reproduce the issue:

1. Ongoing call between user1(caller) and user2(receiver)
2. User2 plug headphones
3. User2 unplug headphones

**Result:** Audio is missing. Audio still missing on succeeding calls unless app is restarted or re-installed.

**User1:** iPhone6s iOS10.1.1
**User2:** iPad2 iOS9.3.2

This is u

[2017-04-04 17:10] bobiechen-twilio commented on #25
Hi @nicolettemanas
Thanks for reporting the issue. I've logged a ticket and we will take a look at the issue.
In the meantime it would be great if you could also provide us the SDK log when this issue happens.

-bobie

[2017-04-14 18:51] bobiechen-twilio commented on #25
Hi @nicolettemanas

I am sorry for my delay of getting back to you. I've tested the scenario with both our internal testapp and the quickstart sample (callkit or non-callkit) but unfortunately couldn't reproduce the audio problem you saw. Could you try the newly released beta8 with the device again and provide us the SDK log if you run into the same issue? Thanks!

Again I apologize for the lack o

[2017-04-15 13:23] milkmanjr commented on #25
@bchen-twilio  running across the same issue an app.

Reproducing with bluetooth headset. Steps to reproduce:

1. connect with headset on, then disconnect. At this point everything is fine.
2. go to another application (in my case Spotify) and play audio for 10 seconds. pause it.
3. go back to the phone application and try and make a call. no audio.

At this point there is no audio. I will try wit

[2017-04-15 14:04] milkmanjr commented on #25
The issue seems to be resolved in beta8.

[2017-04-15 15:50] bobiechen-twilio commented on #25
Thanks for trying @milkmanjr for glad to know it's resolved in beta8!

[2017-04-17 02:59] nicolettemanas commented on #25
Hi @bchen-twilio

Problem still persists in beta8. Please see ff. DEBUG level logs:

[code]

These logs are from the time when the user plugs in the headphones up to the time of unplugging it. I tried to compare it with the logs of the working device and it seems that the lines:

[code]

are only printed after ending the call. I'm not sure why they are shown when the headphones are unplugged in iP

[2017-04-17 20:52] bobiechen-twilio commented on #25
Hi @nicolettemanas

I've checked both logs you provided.
For the unplug-and-plug issue, unfortunately I didn't find any immediate error from the log. I am going to try myself with the iPads in the office and see if it's really a device related issue.
For the second log of the no-audio issue, I am seeing internal IP addresses (192.168.x.x) and that could cause the Twilio Voice service trouble, espe

[2017-04-20 20:23] mahyarr opened #28 "Call Direction and StatusCallbackEvent Parameter"
Hello there,

Im integrating twilio client into an app Im developing and so far, Ive come across two questions:

1- When making outbound calls from my iOS app, Im passing the following attributes to the VoiceClient.call function:

[code]

In my TWIML response, I have something like this:
[code]

Now Im facing two issues.

First, in the parameters passed to my TWIML endpoint, the Call Direction is

[2017-04-24 01:58] nicolettemanas commented on #25
Hi @bchen-twilio

The TwilioVideo team are able to reproduce this issue on the same device (iPad2) according to this [github issue.](https://github.com/twilio/video-quickstart-objc/issues/61#issuecomment-296261448) Perhaps you could check with them?

I am yet to check the no-audio issue with another network. I'll get back to you once I have tested it.

Thanks!

[2017-04-25 18:08] bobiechen-twilio commented on #28
Hi @mahyarr

Sorry for my delay of responding back to your questions.

Sorry for the confusion, but when making a call from a Twilio client (e.g. the iOS mobile client in your case), you are actually making an "inbound" call request to your TwiML application. To separate the two use cases (Twilio number inbound vs. call initiated by mobile client), my suggestion is to have different endpoints in y

[2017-04-26 18:15] bobiechen-twilio commented on #25
Hi @nicolettemanas

Sorry I was out of the States for a couple of days.
Thanks for letting me know. I'll check with the team and make sure I use the same device for testing the issues again.
Please stay tuned.

-bobie

[2017-05-13 07:09] geoffliddiard opened #30 "Beta-9 DTMF tones are not transmitted"
Just updated to beta-9 and noticed that DTMF tones aren't being transmitted by the TVOCall sendDigits method, local audio is a nice addition and works great though!

Cheers

[2017-05-13 16:01] bobiechen-twilio commented on #30
oh oh this is definitely not good...
@geoffliddiard could you share the details of the call participants?
I've just tried to use the voice mobile client to call a Twilio JS client and a PSTN number and I was able to hear DTMF at the other end. Maybe I missed the case or some steps you did?

Thanks for giving beta9 a try.

cheers
-bobie

[2017-05-15 08:52] geoffliddiard commented on #30
@bchen-twilio sure both clients are using native SDKs, outgoing call was placed from a device using Android 2.0.0-beta4 and incoming was received by iOS beta-9. The call is routed through our system using Twiml to gather a digits response before connecting the clients. Hope that helps!

Cheers

[2017-05-15 16:55] bobiechen-twilio commented on #30
Thanks @geoffliddiard.

The changes we added in beta9 is mainly for tone playback when sending digits from local client, which should have nothing to do with the case when DTMF is received from the other call participant. However I did try with the TwilioClient 1.2 iOS SDK and DTMF tones can be heard clearly when receiving digits, while for the Voice SDK the tones seemed to be short and kind of di

[2017-05-15 19:34] bobiechen-twilio commented on #30
Hi @geoffliddiard
Sorry fro the confusion I am going to make, but unfortunately the Twilio Voice mobile SDKs actually do not support receiving/collecting DTMF digits at the moment, but only sending. The low-volume distorted sound I heard in my previous testing are just a feedback from another client's speaker.

Let me know if you have further questions.

cheers
-bobie

[2017-05-17 18:25] fabriziomoscon opened #32 "RN integration: Connection has no connected handler"
Hi @bchen-twilio
I am testing/writing the `react-native` implementation:
https://github.com/hoxfon/react-native-twilio-programmable-voice/pull/22/files
it uses beta9

I setup all the JS bindings and when I try to make a call I can see a loop in the log with these lines:

[code]

Which says `Connection has no connected handler`
I am running on the simulator and I have no provisioning profile nor vo

[2017-05-17 18:54] bobiechen-twilio commented on #32
Hi @fabriziomoscon

Is this is the first time you are seeing the crash on the simulator?

[2017-05-17 18:56] fabriziomoscon commented on #32
yes,
I have just got today to the point where I can have my react-native app wired with RNTwilioVoice.
I am running on debug so I got a simulated crash. I am going through line by line with comparing my implementation and yours, so far I could not find the culprit

[2017-05-17 19:51] bobiechen-twilio commented on #32
I think this is more like something related to the simulator push support of RN, but I'd still love to hear from you with any update you would find.

Thanks.

[2017-05-17 19:52] fabriziomoscon commented on #32
@bchen-twilio I solved this!
Basically I was not configuring call Kit. But I can still see the loop of errors, most probably they will go away once I get distribution certificates sorted

[2017-05-17 19:52] #32 closed, assigned to nobody

[2017-05-17 19:54] bobiechen-twilio commented on #32
👍  awesome man!

[2017-05-25 16:59] fabriziomoscon opened #33 "Help needed for production push certificates"
@bchen-twilio after following the instructions I can receive calls on Sandbox (both on simulator and on a device), but I can't receive calls on a production build installed on a device.

The errors I can see on the console suggest I am using a development certificate for production.

How can I create the correct VOIP certificate that works on both sandbox and production? Is there such an option?
<

[2017-05-25 17:11] bobiechen-twilio commented on #33
Hi @fabriziomoscon

It is awesome that you are able to receive incoming call in development environment.
Before going for production, you will have to create another Push Credential SID with the same VoIP Service Certificate only this time leave the sandbox option unchecked. Use this Push Credential SID in the access token in your production application so that Twilio can send push notifications t

[2017-05-25 17:20] fabriziomoscon commented on #33
@bchen-twilio I have separate subaccounts for local and production.
Under my production account I have created an APN Push Credential SID - I tried both via API and manually - using the cert.pem and private_key.pem extracted from my VoIP Service Certificate as a .p12 file
My Account SID is: AC34712d10934e857f92d3b4ddc3b07f53

the access token uses the APN push Credential SID.

[2017-05-25 19:00] bobiechen-twilio commented on #33
Hi @fabriziomoscon

You mind sending your production Push Credential SID to me via email? I do have some internal tool to check the details of the credential and see if I can find anything.
Thanks for being patient.

-bobie

[2017-05-26 12:39] w3b-amit opened #34 "VOIP Push for incoming Call"
Hi,

We are using Twilio voice SDK for iOS and we are noticing this issue very often.

The call is initiated but no VoIP push is received on the called device but once the call finish ringing we do receive the VoIP push about canceled call.

When this happened both devices were in good network condition.

Here is the canceled call voip Push log:

aps = {
  };
  "twi_account_sid" = AC8828e3ad9b0724

[2017-05-26 18:33] bobiechen-twilio commented on #34
Hi @w3b-amit

Thank you for reporting the issue.
Sorry that you are experiencing such issue and I will reach out to the backend team and check if they can use the information you provided and figure out what is causing the delivery failure.

The call-SID in your call-canceled notification indicates that the call was made on `2017-05-26 05:24:16 PDT` to `2017-05-26 05:24:57 PDT` but unfortunately I

[2017-06-06 15:33] eabait commented on #30
Hey @bchen-twilio

I can confirm what @geoffliddiard says. I've been trying to send DTMF tones using `sendDigits` method:
[code]
And that only works (digits are received in the action of the Gather) when using version beta8. Using beta9 or beta10 doesn't work.

Regards!
Esteban

[2017-06-06 16:54] bobiechen-twilio commented on #30
Hi @eabait

Thanks for reporting this.
It sounds like you are using Twilio JS Client on the receiving end, right?
Sorry that the recent updates are causing you troubles. I'll try and see if I can find the balance between the original and new DTMF implementation and make sure it's back to the working state.

Will keep you updated.
Would it be okay if I send SDK patches for you to try once I have an

[2017-06-06 17:02] eabait commented on #30
I'm using this CocoaPod on the receiver end: https://github.com/twilio/cocoapod-specs/tree/master/TwilioVoice

[2017-06-06 17:08] bobiechen-twilio commented on #30
So the receiver is also an iOS Programmable Voice client?

[2017-06-06 20:18] eabait commented on #30
Sorry for the late response. The receiver is an iOS Programmable Voice client. The call is initiated on the server side, something like this: `client.calls.create(url=request.url_root + 'visitor/ask', method="GET", to='client:'+to, from_='client:'+caller)`

[2017-06-06 20:21] bobiechen-twilio commented on #30
Thanks for the clarification @eabait.
Could you tell us more about next? who sends the digits (I am guessing it's one of the iOS client calling `call.sendDigits`) and who is receiving, and how.

[2017-06-07 13:20] eabait commented on #30
Yes, the receiver sends the digits ([self.call sendDigits:digits]), and they are received by the Python script as the `Digits` parameter in the request.

[2017-06-07 18:16] bobiechen-twilio commented on #30
Hi @eabait

Sorry I don't think I am following your last comment.
Is it like this?
- iPhone A has Programmable Voice SDK running on it and registered as `Alice`, and iPhone B registered as `Bob`
- `Alice` uses `TwilioVoice.call:params:delegate:` to establish a call with `Bob`
- In the call, `Alice` sends DTMFs to `Bob` by calling `TVOCall.sendDigits:`

Please correct me if I am understanding this

[2017-06-08 00:57] bobiechen-twilio commented on #30
Hi @eabait

I think I've found the bug and fixed it. Now it's working great again with <Gather>.
Could you shoot me an email so I can provide you a patch to try?

Thanks.

[2017-06-08 22:03] eabait commented on #30
@bchen-twilio send it to estebanabait at gmail . com

[2017-06-08 22:13] bobiechen-twilio commented on #30
Sent you the patch ;)

[2017-06-12 12:39] eabait commented on #33
Hi @bchen-twilio

I'm having this issue as well :(
I have created Push Credentials for Sandbox and Live with the same VoIP certificate. Is working with development profile, but not when distributed.

Thanks
Esteban

[2017-06-12 12:49] fabriziomoscon commented on #33
The solution in my case was:
- use sandbox = false for anything that is distributed by Apple: TestFlight and App Store
- use sandbox = true for any other build, even for the Release build from Xcode

[2017-06-12 13:04] eabait commented on #33
@fabriziomoscon thanks for jumping in. I have a similar arrangement to your solution, thats why I dont understand whats failing. Hopefully @bchen-twilio can help me.

[2017-06-14 01:31] bobiechen-twilio commented on #33
Hi @eabait

Sorry for my delay of replying.

Could you help me check the [Programmable Voice Dashboard](https://www.twilio.com/console/voice/dashboard) and see if there is error/warning being logged when you experience the push notification delivery failure in production?
Thanks
-bobie

[2017-06-14 12:05] eabait commented on #33
Hi @bchen-twilio

I have a lot of: APNs device token format is invalid :(
I have double checked the client configuration. I'm trying to figure out if the error is a configuration issue or an issue in our backend.

Thanks in advance!
Esteban

[2017-06-14 20:48] bobiechen-twilio commented on #33
Hi @eabait

Could you provide the detailed error messages from the dashboard?
Also if you could email me the Twilio account SID + push credential SID you are using, I can check out the backend system and see if there is any immediate error.

Thanks

[2017-06-15 13:17] eabait commented on #33
@bchen-twilio sent you an email

[2017-06-15 16:45] bobiechen-twilio commented on #33
Hi @eabait

I've used your account and the two push credential sids and looked up the errors logged for the past week. It looks like most of the errors are caused when trying to send push notifications with the sandbox push credential sid and Apple rejected the requests.

Could it be that the token vending endpoint from you server is having trouble coordinating with the token request from your mob

[2017-06-16 04:56] vijayaa opened #37 "Server installation issue"
When i execute the below command
pip install -r requirements.txt

 **i am getting the below error**

`_Collecting wsgiref==0.1.2 (from -r requirements.txt (line 9))
  Using cached wsgiref-0.1.2.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-a5do1_is/wsgiref/setup.py", line 5

[2017-06-16 21:39] bobiechen-twilio commented on #37
Hi @vijayaa

What is the version of macOS and python on your machine?
I have python 2.7.11 on my macOS Sierra 10.12.4 on my machine. I tried the pip install again and it worked for me.
If this keeps happening, could you try to re-install python using this?
[code]

thanks
-bobie

[2017-06-21 23:04] bobiechen-twilio commented on #37
Hi @vijayaa

It seems the issue is caused due to the compatibility between standalone `wsgiref` and python3. To ensure the backward compatibility with python2, unfortunately we cannot just remove the `wsgireg` lib from the requirements.txt now, but I've tried deploying without it and was able to finish the installation and able to hit the `/accessToken` endpoint.

The `wsgiref` in python3 should b

[2017-06-26 09:33] geoffliddiard opened #39 "Reachability API/method"
Our app falls back to PSTN dialling / receiving when network conditions aren't VoIP friendly. Would you consider exposing the any internal metrics used to determine reachability as mentioned in the changelog notes for Beta5?

Thanks!

[2017-06-26 17:22] bchen-twilio commented on #39
Hi @geoffliddiard

This a great question.
The Voice SDK currently does not have the mechanism to measure and determine whether the network condition is good enough for the Twilio Voice connections, but this is definitely a good one to have for the applications.

The reachability-check released in beta5 is actually a mechanism for the SDK to make sure correct network interface (wifi or cellular) an

[2017-06-27 01:58] girtis opened #40 "Test"
Ignore

[2017-06-27 01:59] #40 closed, assigned to nobody

[2017-06-28 16:05] leejms opened #41 "Unable to find pod spec"
Fresh clone then `pod install`

[code]

I am having this same issue on my custom project

[2017-06-28 16:30] bobiechen-twilio commented on #41
Hi @leejms

For 3rd party podspec host (like the way we are hosting for the Voice SDK beta) you have to run `pod repo update` to let the Cocoapods library fetch the latest.

-bobie

[2017-06-28 17:44] leejms commented on #41
Thank you SO MUCH!  worked great.

[2017-06-28 17:44] #41 closed, assigned to nobody

[2017-06-28 18:28] bobiechen-twilio commented on #41
👍  👍  👍

[2017-07-18 22:18] nkarman opened #43 "Twilio not Calling our server's Voice Endpoint"
Hello @bchen-twilio , My team and I are trying to connect VoIP calls using Twilio, but Twilio never calls our /Voice endpoint for TwiML instructions, or seems to attempt to. I have included verbose console output in a pastebin below. No events or errors are visible on the Twilio Dashboard. Thanks in advance for your help!

https://pastebin.com/ufr6D4ct

[2017-07-18 23:07] bobiechen-twilio commented on #43
Hi @nkarman

Sorry that you and the team are experiencing this.
From the SDK log I did see a `500 Server Internal Error` which I guess was caused by the identity embedded in the access-token. I would suggest that you don't have whitespace in the client identity. Since the Voice mobile SDK is still relying on the SIP signaling protocol, the client identity should contain only alpha-numeric and unde

[2017-07-19 19:23] nkarman commented on #43
@bchen-twilio

Thank you so much, that fixed it. You guys are the best!

[2017-07-19 19:23] #43 closed, assigned to nobody

[2017-07-19 19:27] bobiechen-twilio commented on #43
@nkarman

Glad that it helped.
Please feel free to reach out to us any time in the future if you run into any problems or issues.

Cheers
-bobie

[2017-07-20 07:42] nicolettemanas opened #44 "Ongoing voice call destroyed when a third call is rejected"
Hi Twilio Team,

Currently using TwilioVoice 2.0.0-beta12. Please refer to the ff steps to replicate the issue:
1. Ongoing call between user1 and user2
2. User3 tries to call user1
3. Call invite from user1 gets rejected due to the ongoing call (as opposed to being ignored in the sample app)

Result: Audio disappeared from the ongoing call between user1 and user2

I have included the verbose Twili

[2017-07-20 16:30] ceaglest commented on #44
Hi @nicolettemanas,

Thank you for the report! The iOS SDK currently has a restriction of one active Call at a time, but it looks like it is not behaving as expected when the 3rd call is rejected. I will look into this, and respond to the ticket once we know more.

Thanks,
Chris Eagleston

[2017-07-21 06:01] nicolettemanas commented on #44
Thanks @ceaglest
If it helps, we encountered a somewhat similar [issue](https://github.com/twilio/voice-callkit-quickstart-objc/issues/7) in beta6.

[2017-07-22 01:25] ceaglest commented on #44
Hi,

I tried reproducing this issue using 2.0.0-beta13 by modifying ObjCVoiceQuickstart & ObjCVoiceCallKitQuickstart to reject instead of ignore invites. After making this change I was able to reject an invite without causing the active voice call to end. We also have test cases which do this automatically as part of our integration test suite, and they are currently passing.

However, there is cl

[2017-07-24 08:27] nicolettemanas commented on #44
Hi @ceaglest,

Confirming that this indeed doesn't happen in 2.0.0-beta13.
Regarding your questions:

1. It happens 100% of the time (using 2.0.0-beta12) with the ff devices:
2. iPhone6s(iOS10.1.1), iPhone5(iOS10.2.1), iPad mini(iOS9.3.5), iPad air(iOS10.1.1)

We will proceed testing in 2.0.0-beta13 for now.

Thanks,
Jean

[2017-07-24 09:20] nicolettemanas opened #48 "Ongoing call not disconnected when a third call is rejected"
### Description
Hi Twilio team,

I am using **2.0.0-beta13** and I am experiencing a regression bug (last fixed in **2.0.0-beta7**) where an ongoing call is not disconnected if a third call is rejected.

`callDidDisconnect:` is not called after the other user disconnects from an ongoing call.

### Steps to Reproduce
1. Establish a call between User1 and User2
2. User3 tries to call User1
3. User1

[2017-07-24 18:03] ceaglest commented on #48
Hi @nicolettemanas,

Is this a duplicate of the ticket #44 that you filed, but reproduced with beta13 instead of beta12?

Based on the title alone - the ongoing call should **not** be disconnected when a third call is rejected. Lets look at the reproduction steps.

What does the 5th step mean, is this the lack of audio that you reported earlier? The logs give a 404, can you re-upload them?

Since

[2017-07-24 20:33] ceaglest commented on #44
Hi @nicolettemanas,

Does the issue occur with or without CallKit integration? I noticed that your logs were using the CallKit enabled example, but the iPad Mini running iOS 9.3.5 does not support CallKit.

Once I hear back from you on #48 I will likely merge it into this issue.

Best,
Chris Eagleston

[2017-07-25 00:55] nicolettemanas commented on #48
Hi @ceaglest

Sorry for the confusion, this is not a duplicate of #44 , the 5th step actually means User1 _intentionally_ ending the call and therefore, `callDidDisconnect:` _should_ be called in User2 (but is not being called) using **2.0.0-beta13**.

This issue was filed and fixed in 2.0.0-beta7, I'd link the github issue but it seems that issues in the **voice-callkit-quickstart-objc** project

[2017-07-25 00:59] nicolettemanas commented on #44
Hi @ceaglest ,

The issue happens with or without CallKit integration. I build the app on the iPad Mini iOS 9.3.5 using the target without CallKit integration (**ObjCVoiceQuickstart**). As for devices running iOS10 and up, I use **ObjCVoiceCallKitQuickstart**

Thanks,
Jean

[2017-07-26 10:48] aaasifrz9 opened #49 "Method didInvalidatePushTokenForType is not calling on token expired"
Hi,

I am using **Twilio Voice Objective-C Quickstart for iOS**. I am able to register TwilioVoice after creating access token as mentioned below:-

#pragma mark - PKPushRegistryDelegate
[code]

I have created access token for 5 mins, as per Pushkit (PKPushRegistry) method

`- (void)pushRegistry:(PKPushRegistry *)registry didInvalidatePushTokenForType:(PKPushType)type`

should call after token exp

[2017-07-26 18:31] bobiechen-twilio commented on #49
Hi @aaasifrz9

Thanks for choosing the Twilio Voice iOS SDK and I am glad to see that you are able to successfully register for incoming call notifications.

The `- (void)pushRegistry:(PKPushRegistry *)registry didInvalidatePushTokenForType:(PKPushType)type` delegate method is called when the device token previously issued by Apple VoIP service has expired or no longer valid for use. More details

[2017-07-26 20:52] ceaglest commented on #48
Hi,

Thank you for the clarification!

Sorry for the confusion from my side as well, we deactivated the issues for `voice-callkit-quickstart-objc` because that repository is deprecated.

I will check with @bchen-twilio on the history for this one, and get back to you.

Thanks,
Chris

[2017-07-26 21:14] ceaglest commented on #44
Thanks for the additional info. I've raised this issue to our QA team since I was not able to reproduce locally with the devices that I had on hand, and the rejection change to the QS's that I mentioned.

[2017-07-27 01:37] nicolettemanas commented on #48
Hello,

Thank you for the update! Let me know if you need further details.

Thanks!

[2017-07-27 06:20] aaasifrz9 commented on #49
Thanks for update.

@philnash suggested in my ticket https://stackoverflow.com/questions/45323827/method-didinvalidatepushtokenfortype-is-not-calling-on-token-expired-using-twili/45338878#45338878
that how to use the Twilio AccessManager SDK for handling access token. Now I am able to get some methods regarding access token expire in TwilioAccessManagerDelegate.

Thanks a lot.

[2017-07-27 08:27] philnash commented on #49
Great to hear it's all working now. Let us know if there's anything else we can help with!

[2017-07-28 07:03] aaasifrz9 commented on #49
Hi,

As explained above, I am able to register with access token and getting message "**Successfully registered for VoIP push notifications.**" on each device each time.

Sometimes both devices(D1 & D2) performs calling from each side and am getting event in "**didReceiveIncomingPushWithPayload**" and then "**callInviteReceived**".

But most of the time when I connect call from D1 to D2, calling s

[2017-07-28 09:27] philnash commented on #49
When you say you're not getting the `didReceiveIncomingPushWithPayload` event, do you mean the call just isn't connecting at all on the device?

[2017-07-28 11:01] aaasifrz9 commented on #49
As per my debugging, I think Life cycle of connecting call is: -

D1 starts call action -> when D2 receives event in **didReceiveIncomingPushWithPayload** then **callInviteReceived** fires  at D2 and **callDidConnect** fires at D1.
After accept call by D2, **callDidConnect** fires at D2.
This is complete cycle of successful connection.

But sometimes, in my case call is not connecting:-
D1 starts

[2017-07-28 18:25] bobiechen-twilio commented on #49
Hi @aaasifrz9

Thanks for the experiments and detailed descriptions of the problem you are seeing 👍

When you are experiencing the notification delivery failure on the call receiver's device, could you go to the [Programmable Voice Dashboard](https://www.twilio.com/console/voice/dashboard) and see if you can find any errors/warnings logged in real time?

I can add a bit more details how the life c

[2017-08-02 08:24] aaasifrz9 commented on #49
Hi,

Still, I am getting improper calling behaviour between two devices (**D1**-iPhone and **D2**-iPad).
There are some cases I am getting: -
**1-** Both devices (D1 and D2) are able to receive call from each other.
**2-** D1 is able to receive call from D2 but D2 not and vice-versa.
**3-** Some times no device is able to receive any call.

**E.g.**
D1 is not able to receive call from D2.
After so

[2017-08-02 20:11] bobiechen-twilio commented on #49
Hi @aaasifrz9

Thanks for providing the logs and detailed summary 👍
I tried to cross-compare the logs of D1 and D2 and confirmed that D1 was not receiving any incoming call-invite notification from D2 in call 2 and call 4. I did also use the call-sid of call 2 and 4 (from D2) to look up details in the backend DB but unfortunately I didn't find any error being logged regarding to any possible notif

[2017-08-03 01:59] nicolettemanas commented on #48
Hi Twilio team,

Any updates on this?

Regards,
Jean

[2017-08-03 05:16] aaasifrz9 commented on #49
Hi @bchen-twilio

Calling is now working from both side. Thanks. But still some times we got "**Point 1**" situation.

**Point 1: -**
I got the point but I have a doubt that as per your explanation, D1 was not receiving any incoming call-invite notification then why delegate method "**callDidConnect**" is calling at D2 and completing ring method "**callDidDisconnect**" is also calling at D2.
**Not

[2017-08-03 16:52] bobiechen-twilio commented on #49
Hi @aaasifrz9,

The way Twilio Voice calls work contains two call legs:
- Mobile clients use the `[TwilioVoice call:params:delegate:]` method to call a TwiML app specified in the access token. A TwiML can do anything available documented by Twilio, but the most common use case would be to use <Dial> to call another client or a PSTN number.
- Once the signaling handshaking between Twilio & the mobi

[2017-08-03 23:10] ceaglest commented on #48
Hi Jean,

I'm sorry for the delayed response. I'm working on reproducing the issue this afternoon, but the steps you provided are perfectly clear.

One thing that is concerning based upon your logs and my local tests is that we may be over-releasing the signaling transport upon User 1 rejecting the invite from User 3. As a part of this investigation I am adding integration test coverage for the sc

[2017-08-03 23:23] ceaglest commented on #44
Hi Jean,

Our QA team also tried to reproduce this issue (using 2.0.0-beta13) but they were not able to. I can see from your logs that something is definitely going wrong since the audio should not shut down like that.

Can you confirm that the modifications you made to the QS are the same as what is on my branch?

https://github.com/twilio/voice-quickstart-objc/tree/issue/48-ongoing-call-disconne

[2017-08-04 00:52] nicolettemanas commented on #48
Hi Chris,

It's pretty much the same changes, except for the parts where we had to modify the parameters in TwilioVoice's `-call:params:delegate` to establish a call between users.

Were you able to reproduce this in beta13?

I'll try providing the verbose logs for the three users this afternoon.

Hope this helps,
Jean

[2017-08-04 00:54] nicolettemanas commented on #44
Hi @ceaglest ,

Sorry, I confirmed that this **_does not_** happen and is already fixed in beta13. 😅   I think you missed it in my previous comments. Sorry for not being clear about this.

Best regards,
Jean

[2017-08-04 00:56] ceaglest commented on #44
Oh boy, I think I missed the contraction in your message a few up. 😰

So at this point my findings, yours, and our QA teams match. Closing this out!

[2017-08-04 00:56] #44 closed, assigned to ceaglest

[2017-08-04 00:59] ceaglest commented on #48
Hi Jean,

I wasn't able to reproduce in beta13 yet, but my User2 and User3 were JavaScript clients. I will re-test with all iOS clients, and am also adding integration tests so we can catch this automatically in the future.

Logs for all 3 Clients would be really helpful if you can provide them.

Thanks,
Chris

[2017-08-04 01:00] nicolettemanas commented on #48
Sure, I'll upload them here when I get my hands on the devices. Thanks!

[2017-08-04 03:16] aaasifrz9 commented on #49
Hi @bchen-twilio ,

Thanks for **Point 2** & **Point 3**. I have implemented.

**Point 1:** I am following the exact path as explained in "**voice-quickstart-objc**".
Actually my concern is that why D2 is not able to receive incoming call-invite notification sometimes while D1 has connected with Twilio (callback **callDidConnect:** has called at D1).

I have analysed that in the same build randoml

[2017-08-04 18:18] nkarman opened #50 "Once Call is Connected, No Audio is passed between devices"
### Description

We have a bit of a unique case, as we are using react-native for our application. Essentially, we have a javascript wrapper around the Objective C Voice Quickstart code to handle our calling. We are using this node module for this: https://github.com/hoxfon/react-native-twilio-programmable-voice

Has Occurred when attempting to connect iPhone to iPhone using VoiceClient

On connec

[2017-08-04 18:34] bobiechen-twilio commented on #50
Hi @nkarman

Bobie from the Voice SDK team and I'd like to thank you for choosing the Twilio Programmable Voice iOS SDK, and especially for following the issue template and providing SDK log 👍
We've fixed a few bugs around call audio issues in recent beta release. It would be great if you could update the SDK reference with the latest beta13 ([changelog](https://www.twilio.com/docs/api/voice-sdk/i

[2017-08-06 10:58] fabriziomoscon commented on #50
@nkarman I have just pushed version `2.5.0` on npm for `react-native-twilio-programmable-voice`, which uses `2.0.0-beta13`.
It solves few bugs as @bchen-twilio said.

Please let me know if that works for you.

[2017-08-06 18:39] nkarman commented on #50
@fabriziomoscon Thanks so much! Really appreciate all the work you have done on this module!

[2017-08-07 17:20] bobiechen-twilio commented on #49
Hi @aaasifrz9

Sorry for my delay of getting back to you.
I used your Twilio Account SID and did find a few errors that could be related to the notification delivery failure.

- `Twilio attempted to retrieve content from the URL but was unable to process the application/json; charset=utf-8 Content-Type header in the response`
  - date & time: 2017-08-02 05:08:54 pm
  - code: `12300`
  - message: `

[2017-08-08 06:37] nicolettemanas commented on #48
Hi Chris,

Sorry for the late revert. Here are the logs for [user1.txt](https://github.com/twilio/voice-quickstart-objc/files/1207061/user1.txt), [user2.txt](https://github.com/twilio/voice-quickstart-objc/files/1207062/user2.txt), and [user3.txt](https://github.com/twilio/voice-quickstart-objc/files/1207060/user3.txt).

Some extra findings that might help:
- It matters which user rejects the thir

[2017-08-10 18:43] bobiechen-twilio commented on #50
Thanks @fabriziomoscon 👍  🙇
I am assuming with the latest version from Fabrizio the audio issue is fixed?

[2017-08-10 19:38] benminer commented on #50
Hey @bchen-twilio, I am the other front-end developer working with @nkarman on this particular project. We have had some React Native version issues, but they are resolved so I will be trying this new version out later today and will keep you guys updated. Thanks so much for being so responsive on this issue.

[2017-08-10 19:49] bobiechen-twilio commented on #50
Thanks a lot @benminer!

[2017-08-10 23:33] bobiechen-twilio commented on #48
Hi @nicolettemanas

It's me again.
After checking the logs of user1/2/3, I think this is totally a regression you reported and we fixed a while ago, though the steps you described are slightly differently from what I saw in the logs.

Could you confirm the steps:
1. launch app on two devices and register as "alice" and "bob"
2. client "alice" calls "bob"
3. while the call is connected and both cli

[2017-08-11 01:47] nicolettemanas commented on #48
Hi @bchen-twilio ,

Those are exactly the steps. User1 being "bob" and User2 being "alice". I'm not sure which parts of the logs are different, could you please elaborate?

Thanks,
Jean

[2017-08-11 09:29] Pagebakers commented on #50
~~I've just updated to beta 13 and i'm still experiencing these audio issues. I'm not seeying any specific useful info in the logs. Any pointers where I should look?~~

It miraculously solved itself, thanks :)

[2017-08-11 16:59] bobiechen-twilio commented on #48
Hi @nicolettemanas

I am sorry that my previous comment confused you - what I meant is originally in your description, `user1` is the one who rejects the invite while in an active call with `user2` but then I remembered and realized it is `user2` who should reject the call and not getting the disconnected event.

Anyway we've created another ticket for tracking this regression and will let you kno

[2017-08-11 17:11] bobiechen-twilio commented on #50
Thanks for trying the latest version and confirming the problem has been fixed @nkarman @benminer @Pagebakers. I'll close this one and please feel free to reach out to us if you run into any issue in the future.
Thanks again for the awesome RN integration @fabriziomoscon 🙇

[2017-08-11 17:11] #50 closed, assigned to bobiechen-twilio

[2017-08-11 17:17] nicolettemanas commented on #48
Hi Bobie,

I see. Sorry about that. It happens as long as the one who drops the call at the end is the user who didn't receive the third party call.

Thanks for the update!
Jean

[2017-08-14 15:25] chuongle opened #51 "Question about Access Token"
Hi Twilio team,

I've been playing with Voice Quickstart Twilio Object-C quite a while now. I'm pretty new to this so I'm trying to understand the lifecycle of the Access Token. I saw that `fetchAccessToken` get called in `didUpdatePushCredentials` and `didInvalidatePushTokenForType`. Can you explain how often these are called?

I saw an explanation in issue #49 stated that `The main idea of using

[2017-08-14 16:51] bobiechen-twilio commented on #51
Hi @chuongle

This is a good question.
For you use case (incoming only), you only need valid access tokens whenever you want the SDK to perform (un)registration. As you have read in the other issue, as long as the access token is valid, once the operations (making call, registering) are finished you don't have to be worried when the token has expired.

Twilio has the policy for access token expiry

[2017-08-14 17:10] chuongle commented on #51
Hi @bchen-twilio

Thank you for clearing this for me. Let me make sure I understand this. When app starts, `didUpdatePushCredentials` will be called and Twilio SDK will register with valid access token and device token. From that point the app will be able to receive incoming call invites even though the token expires. At this point SDK can still connect the call with the expired token. Does this

[2017-08-14 17:32] bobiechen-twilio commented on #51
Hey @chuongle

Once you have successfully registered, the binding of that identity will exist under your Twilio account SID in the DB unless you explicitly unregister or the Apple VoIP service certificate has expired, which will take 4 (or 5?) years if not revoked manually. As long as the binding is valid, you will be able to receive and accept incoming calls with the credentials embedded in the n

[2017-08-14 17:34] chuongle commented on #51
Ahhh. That makes sense. Thank you for your help! I will close this issue now.

[2017-08-14 17:34] #51 closed, assigned to bobiechen-twilio

[2017-08-17 19:24] ceaglest commented on #48
Hi Jean,

This bug has been assigned a ticket number CLIENT-3970, and the fix is undergoing internal testing. We expect that the ticket will land in `2.0.0-beta15`. As part of our efforts Bobie added a test case which consistently reproduced the missing disconnect event. Once we were able to reliably reproduce it I fixed the regression as part of some internal refactoring work.

Best,
Chris Eagles

[2017-08-18 06:35] zubairuddin opened #53 "Unable to open sound device: Unknown OpenSSL error 503317117 [status=506637]"
When I accept an incoming call, I'm getting the below error:

`Unable to open sound device: Unknown OpenSSL error 503317117 [status=506637]`

and the method `callInviteCancelled` is getting called which is not correct since I accepted the incoming call.

I'm getting this issue on a spacific device : iPhone 6 Plus. It seems to be working as expected on other devices.

I'm using Twilio SDK 2.0.0-bet

[2017-08-18 20:09] bobiechen-twilio commented on #53
Hi @zubairuddin

We've added some incremental improvements in recent beta releases. Is it possible that you could use the latest beta(14) and see if this is still happening?
If unfortunately this keeps happening with beta14 on the specific device, please send the SDK log to us so we can take a look. You know my email ;)

Thanks.
bobie

[2017-08-18 20:09] ceaglest commented on #53
Hi @zubairuddin,

Edit: Looks like Bobie beat me to it. ;)

Can you still reproduce the issue on an iPhone 6 Plus with `2.0.0-beta14`? We've made a number of bug fixes related to audio since the beta9 release and its possible the bug you've encountered has already been resolved.

Is there any more info you can share on the reproduction steps? i.e. Is this reproducible using the Quickstart app in t

[2017-08-27 06:04] girtis commented on #28
It's been a while, and looks like this has been answered. I'm going to close this issue. @mahyarr - let us know if you have more questions, and we can reopen. Also please note that we've released more [betas](https://www.twilio.com/docs/api/voice-sdk/ios/changelog) since then. Check them out!

[2017-08-27 06:04] #28 closed, assigned to nobody

[2017-08-27 06:06] girtis commented on #30
Looks like this was successfully resolved. Closing.

[2017-08-27 06:06] #30 closed, assigned to nobody

[2017-08-27 06:09] girtis commented on #33
No activity for a while here. I'm going to close this issue. If there's more questions, let us know and we can reopen. Also, please note we've released more [betas](https://www.twilio.com/docs/api/voice-sdk/ios/changelog) since then - check out our latest!

[2017-08-27 06:09] #33 closed, assigned to bobiechen-twilio

[2017-08-27 06:11] girtis commented on #34
No activity for a while here, so I'm going to close this issue. @w3b-amit - if you have more questions let us know and we can reopen. Also, please note we've released many [betas](https://www.twilio.com/docs/api/voice-sdk/ios/changelog) since then - check out our latest!

[2017-08-27 06:11] #34 closed, assigned to nobody

[2017-08-27 06:24] girtis commented on #49
There has been no activity here for a while, so I'm closing this issue. @aaasifrz9 - if you have further  questions, please let us know and we can reopen. Also, please note we've released more [betas](https://www.twilio.com/docs/api/voice-sdk/ios/changelog) since then - check them out!

[2017-08-27 06:24] #49 closed, assigned to bobiechen-twilio

[2017-08-27 06:26] girtis commented on #53
There's been no activity here for a while, so I'm closing this issue. @zubairuddin - if you have further questions, please let us know and we can reopen.

[2017-08-27 06:26] #53 closed, assigned to bobiechen-twilio

[2017-09-01 05:14] bobiechen-twilio commented on #48
Hi @nicolettemanas

Chris is out of office for a couple of days so I'd just take the liberty of replying to you.
We've just released the Voice SDK beta15 which has the fix for this issue. Could you update the Podfile and pull the latest SDK?

Thanks.
-bobie

[2017-09-04 02:20] nicolettemanas commented on #48
Hi @bchen-twilio , @ceaglest

Sorry for the late revert. Confirming that I am not experiencing this issue anymore in **beta15**.
Thank you for the support and working with this issue. 😄

Best regards,
Jean

[2017-09-05 15:43] ceaglest commented on #48
Thanks Jean,

That's great to hear! I'm going to go ahead and close out this ticket now that beta15 is in the wild.

Best,
Chris Eagleston

[2017-09-05 15:43] #48 closed, assigned to ceaglest

[2017-09-07 16:52] bobiechen-twilio commented on #37
Hi @vijayaa

We've updated the [python server quickstart](https://github.com/twilio/voice-quickstart-server-python) and added a `runtime.txt` file to explicitly specify the python version. This should address the compatibility issue between python and `wsgiref` library. It would be great if you could pull the latest server quickstart and give it another try.

I am going to close this ticket but pl

[2017-09-07 16:52] #37 closed, assigned to nobody

[2017-09-11 18:53] fabriziomoscon opened #56 "CallKit - Screen not dimming when making calls"
### Description
When using the latest SDK with CallKit and receiving calls the proximity sensor is triggered and the screen locked/dimmed when approaching my face, but the screen keeps on when making calls.

### Steps to Reproduce

1. make a call
2. place the device close to the face or cover the proximity sensor with your hand
3. the screen is still on

#### Voice iOS SDK

Experienced since pod `

[2017-09-11 19:33] bobiechen-twilio commented on #56
HI @fabriziomoscon

I tried the latest beta15 but was not seeing the issue both when making or accepting calls.
Could you share with us how & when is the proximity-sensor being turned on and off in the native integration layer of the framework?
I tried to enable the sensor when getting the `callDidConnect:` callback and tried to disable it when getting the `callDidDisconnect:` callback by using
[c

[2017-09-11 19:59] fabriziomoscon commented on #56
I see,
I am using the react native integration, but usually that doesn't prevent me to follow this repository almost 1:1.

I did not try any additional expression like the 2 lines you posted. I assumed that CallKit was managing the proximity automatically since it is triggered when answering.

If I understand correctly @bchen-twilio you suggest to use the 2 lines you wrote explicitly?

[2017-09-13 01:50] bobiechen-twilio commented on #56
HI @fabriziomoscon

Sorry for the delay of my responding back to you.
Yes, I also thought that CallKit framework should just take care of the proximity sensor but apparently it doesn't seem like so. There isn't documentation from Apple showing how to configure the framework with the sensor.

We'll keep tracking this issue and see if this is due to the way the SDK configures the `AVAudioSession`. F

[2017-09-21 17:40] chuongle opened #57 "Stop Receiving Incoming Call"
Hi Twilio team,

I'm trying to implement this VoIP Call with React Native. Everything works fine up to the point when I force close my app, then it stop receiving incoming call. Is there a way to debug on Twilio side if incoming call is trying to happen?

Thanks!

[2017-09-21 17:54] bobiechen-twilio commented on #57
Hi @chuongle

Unless the application explicitly unregister the mobile client from incoming call notifications, the app should still be able to receiving call-invite push even the app was force-closed.

You can check if there is any error/warning being logged in your [Programmable Voice dashboard](https://www.twilio.com/console/voice/dashboard) or check the call status in the [call log page](https:

[2017-09-21 18:02] chuongle commented on #57
Hi @bchen-twilio,

I don't call unregister anywhere in my app. There is no error in my dashboard. Here are the 2 Call SID I just did:

`CA7b4a9208346426c805d6252b3996ddf2`: This call worked when app started and registered.

`CA2ff7357f72def9e8c3a81a543e4f2337`: This incoming call did not work when force close app.

Please let me know if you find anything! Thanks!

[2017-09-21 18:05] bobiechen-twilio commented on #57
Thanks @chuongle. Let me take a look at the Call-SIDs and see if I can find anything.

[2017-09-21 18:30] bobiechen-twilio commented on #57
Hi @chuongle

I did run the Call-SID (`-2337`) but unfortunately I couldn't find anything unusual regarding notification delivery failure. I tried to compare the signaling paths between the two Call-SIDs and did see some differences. While I go and talk to the backend team to find out what's happening with `CA2ff7357f72def9e8c3a81a543e4f2337`
- Is this happening every time when you force-close the

[2017-09-21 18:59] chuongle commented on #57
@bchen-twilio

This happens every time I force close the app. I don't know if this is part of the React Native issue or not. If my app is in the background I can still receive the incoming call.

Thanks!

[2017-09-22 15:11] chuongle commented on #57
@bchen-twilio

I think I know why this happen. The issue is I implement the PushRegistry at the React Native module level, not at the AppDelegate level. So when the app is forced close, it won't be able to receive anything.

[2017-09-22 17:18] bobiechen-twilio commented on #57
Hi @chuongle

Did you manage to move the PushRegistry impl to the AppDelegate level and receive incoming call push notification with the app closed? I am very interested in knowing the hierarchy between the RN modules and the native iOS impl and why it's causing the issue.

Our internal testbed app and the quickstart sample apps implement the PushKit methods in the view-controllers instead of the

[2017-09-28 15:01] chuongle commented on #57
Hi @bchen-twilio

I moved PushRegistry implementation to AppDelegate level and was able to receive incoming call after force close app. I assume this is why the app can still receive incoming remote notification event after app is closed. I don't fully understand how AppDelegate works. How does it work for quick start app when Pushkit is register at view-controller level?

Thanks!

[2017-09-28 17:15] bobiechen-twilio commented on #57
Thanks for the explanation @chuongle!

Taking the quickstart for example, when a VoIP push notification is sent to the device, the app will be launched by the system (assuming the app was force closed previously) and guaranteed a significantly good amount of time alive. I guess the key here is because the quickstart only has one view-controller and the `PKPushRegistry` instance is right away set u

[2017-10-03 16:57] chuongle commented on #57
@bchen-twilio Sorry for the late response. Thanks for your explanation! I still have some confusions I need to understand. I will close the issue. Will let you know if I find any interesting idea about this. Thanks for your help.

[2017-10-03 16:57] #57 closed, assigned to bobiechen-twilio

[2017-10-03 17:12] bobiechen-twilio commented on #57
Thanks @chuongle. Yeah please feel free to reach out to us in the future if you run into any issue using the Voice SDK. We look forward to your awesome Voice applications!

-bobie

[2017-10-06 21:13] ghost opened #59 "Universal APN Credential Marked Invalid"
### Description

We have created a universal (production + development) APN certificate for our VoIP application and made corresponding Twilio Push Credentials (one sandboxed for development and one not).

When trying to place a call with sandboxed credentials on two debug instances of the application the recipient's phone does not receive the call. We are also getting a Twilio Error - 52134 "Inva

[2017-10-06 22:07] bobiechen-twilio commented on #59
Hi @lassandroan

Thanks for reporting the issue with the template.
Could you provide us the Twilio Account SID and Push Credential SID for the sandbox environment via email? (you know where to find it) Please tag the email with this issue and remember not post any of your credentials here. I'll take a look and check with the Twilio Notify service team to see if there is anything wrong with the VoI

[2017-10-06 22:17] ghost commented on #59
Thanks @bchen-twilio, just sent over the email!

We did have a TestFlight build as well as an Xcode debug build on the physical device. However, when testing out the calls the Xcode debug build was logged in with a different account than the TestFlight build.

We also logged out from both app builds just to be sure and were verifying identity using the Twilio Access Token that the debug app was re

[2017-10-06 22:25] bobiechen-twilio commented on #59
Thanks for providing us the creds. I'll do what the SDK team can do to dig up more info why the notification delivery failed. Unfortunately most of the Twilio Notify service team members are in Central Europe timezone, which is already their time off but I'll still reach out to them since only they have the permission to query the service DB.

As for using different accounts for debug and release

[2017-10-09 22:36] bobiechen-twilio commented on #59
Hi @lassandroan

Sorry for my delay of responding back to you.
We've run your Twilio Account SID and the Push Credential SID (ending with `a3af`) - based on the description of the certificate, it's actually the certificate for a regular APNS.

For the best integration experience, we would recommend that Voice SDK users create their VoIP Service certificate using a fresh CSR (certificate signing re

[2017-10-13 20:27] bobiechen-twilio opened #62 "Crash when calling [TwilioVoice startAudio] and [TwilioVoice stopAudio]"
### Description

Crash when calling `[TwilioVoice startAudio]` and `[TwilioVoice stopAudio]`

### Steps to Reproduce

Call `CallKitIntegration` methods upon audio session status callbacks from CallKit.

#### Logs

[code]

[code]

### Versions

2.0.0-beta15 and later

#### Xcode

n/a

#### iOS Version

v10.x

#### iOS Device

iPhones, iPads

[2017-10-16 19:22] ghost commented on #59
Hey @bchen-twilio, sorry about the late response

Swapping out for the VoIP certificate fixed our calling issue, thank you!

[2017-10-16 19:22] #59 closed, assigned to bobiechen-twilio

[2017-10-16 19:32] bobiechen-twilio commented on #59
That's great @lassandroan!

[2017-10-17 19:06] bobiechen-twilio commented on #62
Hi @senatorsfc

We've identified the root cause of the crash in the SDK and we are currently validating the solution. Will keep you updated.

Thanks for your patience.
-bobie

[2017-10-19 19:37] RUIFERNANDE5 commented on #59
@bchen-twilio I'm facing the same issue. I already have a VoIP Certificate and my SandBox is checked.
On Development it works great. I already created a new CSR and all.

[2017-10-19 20:07] bobiechen-twilio commented on #59
Hi @RUIFERNANDE5

Sorry that you are experiencing the issue.
Could you send your Twilio account SID and (sandbox) Push Credential SID to my email? it'd be better if you can also send me the call SID that you were seeing push notification delivery failure.

Don't post any of your credentials here ;)
Thanks.
-bobie

[2017-10-19 22:43] bobiechen-twilio commented on #59
Hi @RUIFERNANDE5

I've run your credentials and basically things look good to me - the Push Credentials does have sandbox signature in it and the call push notification (of the Call SID you provided) was also delivered successfully.

I did see some errors under your account that indicate push notification delivery failure with a Push Credential SID (ending with `fa1a`). The SID also has the sandbo

[2017-10-19 22:47] RUIFERNANDE5 commented on #59
@bchen-twilio When I found this thread I redid the push certificates / credentials just to be sure I was doing everything right. So, both credentials you're seeing are VoIP certificate keys with sandbox signatures. Not sure what to look for anymore..
Also, not related to this issue but if you could help me on another issue Im having regarding twilio-voice.  [Here](https://stackoverflow.com/questio

[2017-10-19 22:50] RUIFERNANDE5 commented on #59
Also, in logs I have the following:

I'm not sure what this means at all

[2017-10-19 22:59] bobiechen-twilio commented on #59
Let's clarify this - the Push Credential SID works for your in development but not working in the production app?

As for the problem you are seeing in the SO thread - you need to prefix `client:` in your callerId, otherwise the Twilio Programmable Voice will treat it as a number and dialpad-translates it. Hope this helps.

[2017-10-19 23:16] RUIFERNANDE5 commented on #59
Yes! It works on development!

Aside:
You were right about the client thing, but now on callKit in iOS it shows 'client:Jose'? Shouldn't it take care of it? Even if I trim the client: string on my app call screen, it will always show 'client:Jose' on calls history.
Thank you!

[2017-10-19 23:19] bobiechen-twilio commented on #59
I think what gets displayed in the system call screen is actually decided when you report the incoming call to CallKit, so you should be able to retrieve what's behind the `client:` prefix and display to the user.

As for the credential SID - I know this can be confusing but when your app is going production, you will need to create another Push Credential SID
- with the same VoIP cert for this ap

[2017-10-19 23:29] RUIFERNANDE5 commented on #59
@bchen-twilio Alright, thank you very much. I can't test right now but I will tomorrow morning.

[2017-10-20 13:43] RUIFERNANDE5 commented on #59
I confirm creating a new credential (without the sandbox option) with the same VoIP certificate solved my problem!

[2017-10-20 17:20] bobiechen-twilio commented on #59
That is great! @RUIFERNANDE5
Please feel free to contact us if you run into any problem in the future.

[2017-10-24 08:09] nicolettemanas opened #64 "Re-connecting calls after long network interruption"
Hi Twilio team,

This is more of a question rather than an issue. I tried disconnecting both parties of an ongoing call from the internet, wait for five minutes, then reconnect both of the devices to the internet. The call is not reconnecting and neither of the users received disconnection notifications even after one of them hangs up.

We are not disconnecting the call upon network interruption b

[2017-10-25 18:32] bobiechen-twilio commented on #64
Hi @nicolettemanas

This is actually a good question and kudos to the experiment and observation!
The Twilio Voice service actually use the `RTP Timeout` the detect this kind of anomaly for the connections - if unfortunately the mobile client loses the network connectivity and stops sending audio packets, the Voice service will kill the connection after certain amount of time. Currently the timeou

[2017-10-25 21:01] bobiechen-twilio commented on #62
Hi @senatorsfc

We've just finished the release of 2.0.0-beta19, which includes the fix to this crash.
This release also has couple of API changes and improvements.

-bobie

[2017-10-26 08:03] nicolettemanas commented on #64
Thanks @bchen-twilio , given those, I assume that we will not be able to identify that the voice call has been dropped upon reconnecting to the network? Or is there a way to inform the client about the dropped call?

-Jean

[2017-10-26 17:29] bobiechen-twilio commented on #64
Hi Jean,

This is another good question, but unfortunately the mobile client that lost network connection won't be aware of the call being disconnected and won't know why the call was dropped (disconnected by Twilio Voice service). Currently you can only find this out by going to the [Programmable Voice console](https://www.twilio.com/console/voice/dashboard), which is not accessible for app end u

[2017-10-27 04:09] nicolettemanas commented on #64
I see. We just have to let it be for now. Thank you for answering! Will close this now. 😄

[2017-10-27 04:09] #64 closed, assigned to bobiechen-twilio

[2017-10-27 15:05] archonitex commented on #62
Thanks @bchen-twilio ! We'll include this in our next version.

[2017-11-03 16:00] lisbakke opened #67 "[TwilioVoice stopAudio]; then [TwilioVoice startAudio]; does not restart call audio"
### Description

I'm trying to stop the audio session and restart it while in the middle of the call. The use case is to allow the user to use iOS Speech API (Speech/Speech.h) to input audio and then restart the call audio when they are done.

### Steps to Reproduce

1. Initiate a call
2. Call [TwilioVoice stopAudio]
3. Call [TwilioVoice startAudio]
4. You will not get audio back again.

#### Expe

[2017-11-03 16:30] lisbakke commented on #67
In my specific case I think I can do what I need to do by sharing the `AVAudioSession` with Twilio. I'll leave this here, though, in case you guys want to recommend a better approach.

[2017-11-08 08:43] nicolettemanas commented on #62
Hi, it's me again. 😅
I'm still experiencing this issue in 2.0.0-beta19. Please see ff steps:
1. User1 calls User2
2. User2 ignores call
3. User3 calls User2
4. User2, still having a pending incoming call, rejects the call from User3
5. User2 then rejects the call from User1
6. User1 crashes at `[TwilioVoice stopAudio];`

I am using the sample app. Only difference is I added a `[callInvite reject];

[2017-11-08 13:48] archonitex commented on #62
Also released a version yesterday, and it looks like the issue was fixed for startAudio, still happening for stopAudio however.

Still happening only on 10.x systems
![screen shot 2017-11-08 at 8 48 17 am](https://user-images.githubusercontent.com/998905/32552322-9666e4f0-c461-11e7-9238-a0b77fc422da.png)

[2017-11-08 17:06] bobiechen-twilio commented on #62
Hi @nicolettemanas @senatorsfc

Thanks for adopting beta19 and reporting the issue.
Base on the backtrace by @senatorsfc I think I have a theory why the system is still throwing the exception. I'll add this to our current sprint and see if I can provide a fix before end of week.
Please stay tuned.

-bobie

[2017-11-10 23:51] bobiechen-twilio commented on #67
Hi @lisbakke

I apologize for my delay of responding back to you.
Currently these methods are designed specifically for CallKit integration. We understand that they may sometimes cause developers confusion and we are actively reviewing the APIs and trying to improve the SDK to provide users the best integration experience. For now we can only suggest you to not use the CallKitIntegration methods o

[2017-11-13 20:22] Speakus commented on #62
for me issue happens on second call for 32 bit devices (including iphone 5 simulator with iOS 10.3.1) always.

[2017-11-13 20:24] bobiechen-twilio commented on #62
Hi @Speakus

Thanks for sharing the very useful info with us. Just to make sure, you are seeing the same backtrace when the crash happened, right?
I apologize for the inconvenience you are experiencing.

-bobie

[2017-11-13 20:50] Speakus commented on #62
Approximately yes. TwilioVoice.startAudio() crashed.
My backtrace here:
![screen shot 2017-11-14 at 06 47 55](https://user-images.githubusercontent.com/849294/32748479-1c7043b6-c908-11e7-95f6-0ffd6f057ec6.png)

[2017-11-13 20:51] Speakus commented on #62
NB! the issue only happens on 32 bit device.

[2017-11-30 02:27] bobiechen-twilio commented on #62
Hi @senatorsfc @Speakus @nicolettemanas

We've just released 2.0.0-beta21 which includes an internal threading model & safety improvement. It should also address the issue you are experiencing.

Thanks
-bobie

[2017-12-01 16:43] archonitex commented on #62
Thanks @bchen-twilio we'll give it a shot for our release next week!

[2017-12-06 19:29] marecektn commented on #62
same crash on beta20 iOS10 32bit device here..
updated to beta21, will update how test goes

[2017-12-12 18:27] marecektn commented on #62
there are still crashes occurring on 32bit devices with `startAudio` and `stopAudio`
Something is broken in routing audio.

here is stack crash from crashlytics:
[code]

[2017-12-13 18:09] archonitex commented on #62
Can also confirm the same problem it is still occurring with Beta 21

[2017-12-13 23:02] bobiechen-twilio commented on #62
Hi @senatorsfc @marecektn
Sorry that the crash still happened on beta21.
We've just released 2.0.0-beta22 with a new flag property `TwilioVoice.audioEnabled` to replace the `TwilioVoice.startAudio()` and `TwilioVoice.stopAudio()` methods, which have been removed.
The update is to aim for better audio device management, especially with CallKit integration.

Thanks.

[2017-12-19 11:16] wazrx opened #73 "incoming call has no voice"
i try to use the quick start demo to make a call to a client with client identify, the client can receive and accept the incoming call, but can not hear the both side voice, i don't know what is the problem?

[2017-12-19 17:32] bobiechen-twilio commented on #73
Hi @wazrx

Thanks for choosing the Voice SDK and I am sorry you are experiencing this issue.
I will need your help and provide us some information so that we can take a deeper look and help you with the audio problem:
- Does the same audio issue happen in your environment (device, network) with the quickstart that we provided?
- Voice SDK version: I am assuming you are already using the latest ver

[2017-12-20 04:07] wazrx commented on #73
today i found the problem, if i open the SSR on one mobile, the no sound problem will happen, when i shut down the SSR 😳 ，everything become OK, but i still has some question， i try to connect your sale team in twilio homepage， and i send many emails and leave my phone numbers， but nobody connect to me😳， you are the first gentleman i connect successfully........

[2017-12-20 21:39] bobiechen-twilio commented on #73
Hi @wazrx

I am sorry that you didn't receive timely help but I am also glad that you managed to solve the problem. Just curious, what does the SSR stand for?

Thanks.
-bobie
Programmable Voice iOS SDK
Twilio SDK Engineering

[2018-01-02 17:51] bobiechen-twilio commented on #73
Hi @wazrx,

I am assuming the SDK is working well with your application and closing this ticket for now.
Please feel free to open a new ticket if you run into any issue in the future.

Thanks.
-bobie

[2018-01-02 17:51] #73 closed, assigned to bobiechen-twilio

[2018-01-05 13:57] archonitex commented on #62
Hey @bchen-twilio !

I don't see this specific crash anymore with BETA 22 but I do see the following with audioEnabled now :

[code]
So far has happened on iOS 11 devices only

[2018-01-09 19:59] bobiechen-twilio commented on #25
Closing this issue for now since this is only happening on specific device model.

[2018-01-09 19:59] #25 closed, assigned to nobody

[2018-01-09 20:07] bobiechen-twilio commented on #56
I am assuming the issue is resolved and closing the issue for now.

[2018-01-09 20:07] #56 closed, assigned to bobiechen-twilio

[2018-01-09 20:17] bobiechen-twilio commented on #67
Hi @lisbakke

We've made some API updates since beta19 around this surface area. Could you use the latest GA version of the Voice SDK and see if the new `TwilioVoice.audioEnabled` property makes sense for you. The quickstart should demonstrate how and when to properly use the flag.

I am closing this issue for now but please feel free to contact us if you run into any issue with the latest version

[2018-01-09 20:17] #67 closed, assigned to nobody

[2018-01-10 09:46] fabriziomoscon commented on #56
yes thanks, I have included those two lines you pasted, and everything works fine.

[2018-01-10 22:50] bobiechen-twilio commented on #62
Hi @senatorsfc

Sorry for my delay of responding back to you.
Thanks for providing new stacktrace of the crash and I am wondering is this happening on a specific version or you are seeing reports from different versions but mostly on iOS 11.x?

Based on the stacktrace you provided it should be an assertion that got accidentally compiled into the release build. We've fixed it and the update should

[2018-01-13 22:04] idelgado commented on #62
@senatorsfc We released a new version of the SDK, TwilioVoice 2.0.1. This disables assertions in release builds and also retries opening the audio device. The failure to open the audio device was causing the assertion failure.

[2018-02-01 14:53] archonitex commented on #62
Hey @idelgado and @bchen-twilio

Everything seems to be working great in the latest release!

[2018-02-08 16:43] fabriziomoscon opened #80 "Empty credentials seen on the console web debugger"
### Description

When making a call from iOS (2.0.0-beta15) I saw errors in the debugger console regarding Empty credentials, but the relative `credential_sid` doesn't appear to be registered to my account_sid.
For example `DEBUG EVENT SID NO8475c2d5451f4413803070a35550d28e`.
The call is delivered as expected regardless of the error events in the debugger

- Is there any way to remove old and expi

[2018-02-11 21:57] bobiechen-twilio commented on #80
Hi @fabriziomoscon

1. Is there any way to remove old and expired credentials?

2. Are this credentials generated for each new device app installation?

For the `52161 Empty Credential` error, it looks like, as you mentioned, an old Push Credential SID is used when calling the registration method. Please update the Push Credential SID or any other credential in the Access Token whenever you make a

[2018-02-12 09:20] fabriziomoscon commented on #80
Hi @bchen-twilio,
I thought they were old credentials as well. But I am not sure how is it possible for the client to register multiple ones for a single session.
Also using the developer portal I can only see 1 APN credential for my account Sid. And the new credentials Sid is used to initiate the session.
Is there any chance that somehow twilio is using the old credentials as well as the be one?

[2018-02-13 02:18] bobiechen-twilio commented on #80
Hi @fabriziomoscon

Thanks for getting back with more details.
As long as the application is always using the latest credentials then everything is good and Twilio will also be using the correct credentials provided in your Access Token.

[2018-02-23 19:00] bobiechen-twilio commented on #62
Closing this ticket for now. Please feel free to reach out to the team if you are still experiencing this problem.
Thanks!

[2018-02-23 19:00] #62 closed, assigned to bobiechen-twilio

[2018-02-23 19:11] bobiechen-twilio commented on #80
Hi @fabriziomoscon

I am assuming my comments answered your question and we can close this issue for now. If you are still seeing the same error (empty credential) and the current Push Credential SID is not the one being used, please make sure that the Access Token has the correct credentials or we can ask the Twilio Notify team to check their service DB and see if there is any dead registration b

[2018-02-23 19:11] #80 closed, assigned to nobody

[2018-02-23 19:38] fabriziomoscon commented on #80
I have lots of subaccounts for customers and it seems that only users that have credentials for ios and android have this issue.
The calls get delivered but there are multiple errors in the Debugger as per screenshot.

[2018-02-23 19:42] bobiechen-twilio commented on #80
Hi @fabriziomoscon

I see.
Technically the Access Token server endpoint should be taking care of vending proper Push Credential and other credentials back to the mobile clients based on the platform and user information that come along with the HTTP request.
By the way what are the errors you are seeing in the console?

[2018-02-23 19:54] fabriziomoscon commented on #80
After each call I can see many errors divided in 2 groups:
- Error - 52161 Empty Credentials
- Error - 52134 Invalid APNs device token

as per original screenshot

[2018-02-23 20:58] bobiechen-twilio commented on #80
You can send the Account SID and Push Credential SID (or just the whole Access Token) to my work email address and I can help you take a look if the credentials are good, but basically these errors mean
- Credential does not exist
- Not from a valid VoIP Service certificate

[2018-03-01 02:51] ariveraati opened #89 "TVOCallDelegate didDisconnectWithError UUID not found"
### Description

If an incoming call is received while the app is in the background, or the device is off, and it is answered, the didDisconnectWithError is not fired if the incoming caller ends the call.

### Steps to Reproduce

1. Run the CallKit enabled demo
2. Place the app into the background (home button) or turn off the screen
3. Call the Twilio phone number
4. Answer the call that appears

[2018-03-01 03:15] bobiechen-twilio commented on #89
Hi @ariveraati

Thanks for reporting the issue with the detailed descriptions.
I've tried the CallKit quickstart with the same steps but I was able to see the call to end on the mobile client side when the caller hung up. Maybe my steps are somehow different?
1. run the CallKit quickstart (identity `A`)
2. background the app (should be still alive)
3. make a call from another client to `A`
4. phon

[2018-03-01 03:18] ariveraati commented on #89
Thanks for the quick reply @bchen-twilio. Can you try the same steps except with the screen off so the app does not take over from the native callkit interface?

[2018-03-01 03:24] bobiechen-twilio commented on #89
I tried using the lock button to turn off the screen once the app is launched and registered (w/out backgrounding the app tho). Still able to get the disconnect callback properly.

[2018-03-01 04:07] ariveraati commented on #89
My apologies. I was able to get it to work under those conditions as well. It is **not** working if the app is backgrounded and the screen is off. Can you try that scenario?

[2018-03-01 09:07] allenming123 opened #90 "An error When Adding a push credential"
**Setp8. Create a Push Credential with your VoIP Service Certificate**

When I follow this instruction, I got an error as follow:
There was a problem attempting to create a new Push Credential: Could not parse certificate

BTW I did paste the content as plain text

[2018-03-01 09:09] #90 closed, assigned to nobody

[2018-03-01 12:58] ariveraati commented on #89
[code]
For some reason the UUID is not found and the termination fails. This could be due to some changes I made to the demo app. I'll keep digging. Thank you!

[2018-03-01 14:58] ariveraati commented on #89
I wonder if it has anything to do with how the call is answered through CallKit. See below:
[code]
that gets called by this:
[code]
It is passing the UUID of the call but `performAnswerVoiceCallWithUUID` is not doing anything with it. Is that right?

[2018-03-01 15:00] RedBlue1776 opened #91 "Xamarin Support Needed"
It's very difficult to use this Objective C library with Xamarin... the bindings produced by objective sharpie require a lot of customization and is a hurdle for newcomers to Twilio.

https://developer.xamarin.com/guides/cross-platform/macios/binding/objective-sharpie/

Please modify the framework build so that Objective Sharpie can consume it from a PodFile or a *.a file more cleanly.

Alternativ

[2018-03-01 15:06] ariveraati commented on #89
Let me know if I understand the flow correctly:

1. TVONotificationDelegate callInviteReceived
2. self reportIncomingCallFrom
3. callKitProvider reportNewIncomingCallWithUUID
4. CXProvider performAnswerCallAction
5. self performAnswerVoiceCallWithUUID
6. self.call = [self.callInvite acceptWithDelegate:self];
7. TVOCallDelegate didDisconnectWithError
8. [self performEndCallActionWithUUID:call.uuid]

[2018-03-01 16:16] ariveraati commented on #89
Hm. I wonder. Between numbers 6 and 7, is TVOCallDelegate callDidConnect fired? It overwrites the `self.call` object. Perhaps the call from that event has a different UUID?

[2018-03-01 17:25] ariveraati commented on #89
I re-deployed the app, and it is working now. I am not sure what happened, but it may have been related to how I was handling outgoing calls and the callkit integration.

[2018-03-01 17:25] #89 closed, assigned to bobiechen-twilio

[2018-03-01 18:23] bobiechen-twilio commented on #90
Hi @allenming123

I am assuming that you've already figured out and got the push credential to work but I am still interested in knowing in case the instructions in the README is out of sync with the Push Credential configuration console.

Thanks!
-bobie

[2018-03-01 18:45] bobiechen-twilio commented on #89
Hi @ariveraati

Glad that things are working now!
Please feel free to reach out to the team if you run into any issue in the future and we are more than happy to help.

-bobie

[2018-03-01 18:57] bchen-twilio commented on #91
Hi @RedBlue1776

We are sorry about the frustration and really hope to know we can improve the experience. While I am not a C#/Xamarin expert, could you share more details about the issues you are seeing when using the Objective Sharpie library to generate the library plugin for Xamarin?

Thanks.
-bobie

[2018-03-01 20:11] ariveraati opened #92 "Calls default to speaker, even when headphones are plugged in"
### Description

It appears that this example toggles the speaker phone on by default for incoming and outgoing calls.

### Steps to Reproduce

1. Place a call using the demo app
2. Plugin headphones and verify audio is routing through the headphones
3. End the call
4. Place a new call and observe that audio is now routing through the speaker rather than the plugged in headphones

#### Code

[code

[2018-03-01 20:32] bobiechen-twilio commented on #92
Hi @ariveraati

Please remove the `[self toggleAudioRoute:YES];` line where calls get reported so the application doesn't override the default audio route.

Thanks.
-bobie

[2018-03-01 21:46] ariveraati commented on #92
That worked without issue. Thanks!

[2018-03-01 21:46] #92 closed, assigned to nobody

[2018-03-01 21:47] RedBlue1776 commented on #91
The problem is, as explained to me by Xamarin Tech support, that the header files in the Twilio iOS Framework aren’t combined together in such a way as to have a single “master” file.

In addition, there are some mapping ambiguities to C# which complicate protocols and other exports in the binding project.

I’d be happy to coordinate and create a public resolution of the issue if you offer me eith

[2018-03-02 01:39] allenming123 commented on #90
It is my mistake, the instruction issufficient.

I just miss the-----BEGIN CERTIFICATE-----and-----END CERTIFICATE-----part.

😂

原始邮件
发件人:bchen-twilionotifications@github.com
收件人:twilio/voice-quickstart-objcvoice-quickstart-objc@noreply.github.com
抄送:allenming123allen.ming@musjoy.com; Mentionmention@noreply.github.com
发送时间:2018年3月2日(周五) 02:23
主题:Re: [twilio/voice-quickstart-objc] An error When Add

[2018-03-06 07:05] allenming123 opened #93 "Can not create a Push Credential"
Yesterday, I create a push credential.

Today, I delete it, and want create a new one.

when I have filled the blanks, and clicked the save button.

I just redirect to the previous page. nothing add.

P.S. My account is a trial account.

[2018-03-06 08:16] allenming123 commented on #93
And it seems no mater what i fill with all three blanks,
It just redirect me to this page:
https://www.twilio.com/console/voice/sdks/credentials

and did nothing, because nothing added.

[2018-03-06 10:37] Base2526 opened #94 "voice : can create group voice ?"
if can create group voice, have example ?
thx.

[2018-03-06 22:53] bobiechen-twilio commented on #94
Hi @Base2526

You can follow the steps in README, and modify the TwiML endpoint to generate a TwiML response instead of calling a number or client identity, but dialing into a conference. You'll find out more information in the [TwiML <Conference> verb](https://www.twilio.com/docs/api/twiml/conference).

-bobie

[2018-03-06 23:12] bobiechen-twilio commented on #93
Hi @allenming123

Sorry that you are experiencing some technical issue with the developer console, but without your account credential I am afraid we can't help much here. If you are still seeing the same problem, please go to Twilio Support and file a ticket with you account SID so we can use the credential to see if we can find out anything unusual. You may as well mention "Bobie from the Voice

[2018-03-07 03:17] allenming123 commented on #93
ACCOUNT SID: AC0305d404dd2af5ca883cc1d8de7ce1bc

no error at all, when i clicked save button, it just redirect me to the following page:
https://www.twilio.com/console/voice/sdks/credentials

原始邮件
发件人:bchen-twilionotifications@github.com
收件人:twilio/voice-quickstart-objcvoice-quickstart-objc@noreply.github.com
抄送:allenming123allen.ming@musjoy.com; Mentionmention@noreply.github.com
发送时间:2018年3月7日(周三

[2018-03-08 04:01] Base2526 commented on #94
Ok Thx. @bchen-twilio

[2018-03-08 04:01] #94 closed, assigned to nobody

[2018-03-08 07:09] nicolettemanas opened #95 "Bluetooth headphones not recognized as audio device"
### Description
Hi Twilio team,

I tried using the sample app initially used with a bluetooth device but the audio routes to the built in receiver/speaker once the call starts.

I have set all `toggleAudioRoute` to `NO` so the app should not override the audio route.

As for the project without CallKit, I also added the options `AVAudioSessionCategoryOptionAllowBluetooth, AVAudioSessionCategoryOpt

[2018-03-08 07:39] bobiechen-twilio commented on #95
Hi @nicolettemanas

Thanks for reporting the issue.
First of all you can definitely remove the `toggleAudioRoute:YES` lines in your application since they are for quickstart demo purposes.
The issue you are experiencing is actually an expected behavior. TL;DR - use the "answer" button on the bluetooth headset to answer the incoming call and the audio will be routed to the bluetooth headset instead

[2018-03-08 08:00] nicolettemanas commented on #95
Hi @bchen-twilio

I see. That is exactly what is happening, sorry about that. 😅

Thanks for the quick response,
Jean

[2018-03-08 08:00] #95 closed, assigned to nobody

[2018-03-08 14:31] fabriziomoscon opened #96 "Crash - Attempted to dereference null pointer - twilio_pj_atomic_get"
### Description

When attempting to make a call from Simulator.

### Steps to Reproduce

I am not able to reproduce it, usually everything works ok.

#### Logs
I shared my sentry crash report:
https://sentry.io/share/issue/ccc0d5b6b3a943d9aa48df6890c745ff/

#### Voice iOS SDK

TwilioVoice SDK 2.0.2 via CocoaPods

(please note that the crash report shows TwilioVoice 1.0.0)

#### iOS Version
11.2

#

[2018-03-08 20:08] bchen-twilio commented on #96
Hi @fabriziomoscon

We do have automated integration tests running on simulators but we've never seen such crash before on simulators. Is it possible for you to get more information of the reproducing steps?

Thanks
-bobie

[2018-03-09 02:54] bobiechen-twilio commented on #93
Hi @allenming123

I've passed the info to the Notify team and am waiting for their help to see if they can find any anomaly regarding your attempt to create the push credential.
Please stay tuned.

Thanks
-bobie

[2018-03-09 03:17] Base2526 opened #97 "i want join conference group, have example join group ?"
![new mockup 1](https://user-images.githubusercontent.com/900211/37188695-07a83288-2383-11e8-90be-21ed6b5ecb92.png)

thx.
somkid

[2018-03-09 19:14] bobiechen-twilio commented on #93
Hi @allenming123

It appeared to be a bug in https://www.twilio.com/console/voice/sdks/credentials. The console team has identified the issue and updated. Could you please try again and let us know if you are able to create Push Credentials again.

Thanks and sorry for the inconvenience.
-bobie

[2018-03-10 11:48] fabriziomoscon commented on #96
I will add anything I can find. So far it looks pretty random and it happened only once.

[2018-03-14 02:22] bart2016 commented on #73
@wazrx thanks for the follow up! It helps a lot.

@bchen-twilio  SSR stands for shadowsocksR.

[2018-03-14 02:32] wazrx commented on #73
@bart2016 yes,SSR means shadowsocksR, i forget to reply this, i am glad to help you, are you Chinese developer ? we can QQ or Wexin to discuss twilio....

[2018-03-14 09:06] allenming123 commented on #93
@bchen-twilio The problem is settled, thanks!

[2018-03-14 16:12] #93 closed, assigned to nobody

[2018-03-20 01:56] aryo opened #98 "Client sometimes doesn't receive call invite push notifications from Twilio"
### Description

Client device sometimes doesn't receive call invite push notifications from Twilio (`twilio.voice.call` message type), thus not getting incoming calls. We have our own push notifications that get sent to the device that contains metadata around the call, and those are received successfully, so it doesn't seem like a device issue.

Sometimes the duration of the issue will last for

[2018-03-20 02:04] bobiechen-twilio commented on #98
Hi @aryo

Thanks for reporting the issue with great descriptions!
I've checked the Call SID but unfortunately the last status of the call is `canceled` and that's probably the reason why the callee never received the incoming call notification. (and yes, the `cancel` notification will still be sent to all the client registered with that identity)

To further debug the issue we need your help:
1. C

[2018-03-20 02:32] aryo commented on #98
Thanks for the quick reply @bchen-twilio.

We have a timeout of 30 seconds, so if the call is not picked up in 30 seconds, we cancel the call. The issue is that the `call` notification never reaches the client.

So in that particular instance where I provided the Call SID, we're actually routing a parent incoming call (call sid: CAd161642415052763e3d77fbcd69bbe0e) and we sent an invite to join tha

[2018-03-20 21:22] bobiechen-twilio commented on #98
Hi @aryo

Thanks for providing extra info of the calls.
Though my access to the debug tools of Twilio Notify service is limited, I still managed to grab some logs from their DB.

Based on the logs associated to the Call SIDs, I can't find any errors being logged. All notification delivery attempts were successful, which means the request from the Notify service to either Apple or the FCM services

[2018-04-17 12:54] isayeter opened #101 "52131 Invalid APNs credentials"
Hello, When I hit my placeCall.php endpoint, the client did not receive the push notification, and I see an error in Call Logs that says: **52131 Invalid APNs credentials**

I just followed this documentation: https://github.com/twilio/voice-quickstart-objc#8-create-a-push-credential-with-your-voip-service-certificate

I created VOIP certificate and downloaded it :

![screen shot 2018-04-17 at 15

[2018-04-17 16:59] bobiechen-twilio commented on #101
Hi @fattalgazi

Can you provide us a call sid when this error happened so then we can take a deeper look of what is going on?
In the meantime can you also check if the "sandbox" option is properly configured when creating the Push Credential. The sandbox option must be enabled so that the Twilio Notify service knows to send the notification request to Apple's sandbox endpoint during development st

[2018-04-17 17:51] isayeter commented on #101
Hello @bchen-twilio , this is the SID : CAd98c7384de316b4f1826c473aad40cb7

And yes I enabled sandbox option.

Thanks.

[2018-04-17 18:52] bobiechen-twilio commented on #101
Hi @fattalgazi

Thanks for providing the Call SID. I did check the Push Credential SID but it seems to be perfectly okay - it's a VoIP certificate and has not expired, and it's also configured for sandbox usage.

Is it possible that the CSR file you used to create this VoIP Certificate, was used to create other certificate before such as a regular APNS certificate?

[2018-04-17 18:58] isayeter commented on #101
Thank you for your answer @bchen-twilio .

Yes I am using the same CertificateSigningRequest file for years for different projects, I created VOIP certificate for our other VOIP apps with same CSR file before and they are working normal in those projects. I don't think it is related with CSR file.

[2018-04-17 19:05] isayeter commented on #101
oh @bchen-twilio , I solved the problem and received VOIP Push successfully, sorry it was my mistake!

I created VOIP certificate for ObjCVoiceQuickstart project, but I installed ObjCVoiceCallKitQuickstart project to my phone.

Sorry to bother and thanks for your help.

[2018-04-17 19:05] #101 closed, assigned to nobody

[2018-04-17 19:07] bobiechen-twilio commented on #101
Glad that things are working!

[2018-04-18 04:37] #97 closed, assigned to nobody

[2018-04-20 09:19] volkoffindia commented on #57
Hello
I am doing VOIP with twillo calling. Application is allow notification while app is background or foreground. we are not received notification while app is close. I have written code in AppDelegate..
But register with Push after socket is connected.

[2018-04-20 09:20] volkoffindia opened #102 "Notification not receiving after app close"
Hello
I am doing VOIP with twillo calling. Application is allow notification while app is background or foreground. we are not received notification while app is close. I have written code in AppDelegate..
But register with Push after socket is connected.

[2018-04-20 17:02] bobiechen-twilio commented on #102
Hi @arvd

Don't worry, it's probably some small detail that we've missed here.
- Are you able to get successful result when calling the `TwilioVoice.register()` method?
- Are you able to get call notifications when the app is active?
- Can you provide us Call SIDs when the app is unable to respond to the notification if it is terminated? you can find the Call SID from the `TVOCall` object (on the

[2018-04-23 05:26] volkoffindia commented on #102
Hello Bobie
Yes I am getting successful register Twilio and also get token.
Yes I get notification while all is active and background.
Here is my SID: CR14a04681443dd5dfc564cad97e86cc3f

Thanks,
Arvind

[2018-04-23 05:31] volkoffindia commented on #102
and I am also see Call Logs in Twilio account.. Here I attached screenshot.when app close showing in call logs but notification doesn't appearer.
<img width="1026" alt="screen shot 2018-04-23 at 10 59 34 am" src="https://user-images.githubusercontent.com/3807011/39108386-8aeaa1d2-46e5-11e8-984f-d59f3dbcdcbb.png">

[2018-04-23 18:31] bobiechen-twilio commented on #102
Hi @arvd

Thanks for providing the Push Credential. We've checked the database with it but things looks perfectly functioning. One more thing you can help us check - (assuming that your app is written with Xcode 9) does your app project have the background mode configured properly in the plist to support `audio` and `voip`? you can find more instruction in the [quickstart README](https://github.co

[2018-04-24 04:54] volkoffindia commented on #102
Hello Bobie
Yes I am using Xcode 9.2 and my application source code is 2 years old but I am using Xcode 9.2 now.
and yes I have added background and voip setting in plist.

[2018-04-24 16:24] bobiechen-twilio commented on #102
Hi @arvd

How does your app show the incoming call when it gets a call notification while it's in the background? do you use UILocalNotification or do you report the call to the CallKit framework?
If it is not too much trouble, could you also try using the quickstart and see if the same issue is happening? just want to first make sure your account credentials and the notifications settings are cor

[2018-04-25 05:06] volkoffindia commented on #102
Hello Bobie
I am using call kit framework.. it was difficult for me to integrating in quickstart demo. Yes credentials are correctly configured.. I received call when background and foreground..

[2018-04-25 16:41] bobiechen-twilio commented on #102
Thanks and no worries @arvd, looks like your credentials are functioning correctly.
To try the (CallKit) quickstart, simply replace a couple of items in the project:
- Bundle ID
- Access Token URL
then launch the app and register. Closing the app and ensure call notification can still be received and incoming call alert is shown to the user is always one of the validation steps that we perform in

[2018-05-02 10:56] allenming123 opened #103 "When some one call me with his actual number, how can I talk to him instead of reading a text to him via TwiML?"
![8f61aac8-2c0d-4170-8b02-f7903a51ed40](https://user-images.githubusercontent.com/36840501/39515764-a0ad3d32-4e2d-11e8-850d-1053cf852180.jpg)

Let's say I have a twilio number: +1 415 965 1234
Bob has his own number(not a twilio number): +86 12345678910

When Bob calls +1 415 965 1234, he gets the voice of "Congratulations! You have just made your first call! Good bye."  and the phone call is term

[2018-05-02 17:01] bobiechen-twilio commented on #103
Hi @allenming123

Thanks for reaching out and these are fairly good questions/confusions SDK users usually encounter.

For the specific case of an incoming call to your Twilio number from a regular PSTN number, you might have noticed that the `to` value is not set and the `/makeCall` method just returns a TwiML with a `<Say>` verb.

1. To route this call to another person, you can simply remove th

[2018-05-03 05:32] allenming123 commented on #103
Hi @bchen-twilio

About question 1 and 3

I know the to value is extracted from the HTTP request, but in my situation:

Bob calls my twilio number from his iPhone's Phone APP -> my  twilio number get an incoming call -> twilio request the URL
In this work flow, I wanna know what data would twilio pass to my server's web application, and where to find the document for that data. Now I know the 'to'

[2018-05-03 17:12] bobiechen-twilio commented on #103
Hi @allenming123

Not sure why your last reply is not shown here.
1 & 3. I believe the default parameters that Twilio passes to the Voice URL are `To` and `From`. Yes, capitalized.
2. I think with the clarification of the default incoming URL parameters above, you can choose more specialized parameter key-value pairs that will be sent from your mobile application, so that it's easier to differenti

[2018-05-04 04:13] allenming123 commented on #103
Hi @bchen-twilio

Bob use his PSTN number(+8612345678910) call my twilio number(+14159651234)
-> Twilio request the url (endpoint: makeCall)
-> In makeCall function, I can get value from the request: From: +8612345678910, To: +14159651234

[code]

Then I make this response:
`resp.dial(callerId=From).number(To)`, this will make a Infinite loop
or  I make this response:
`resp.dial(callerId=To).numbe

[2018-05-04 17:34] bobiechen-twilio commented on #103
Hi @allenming123

Glad that we are one step further!
Doing `resp.dial(callerId=From).number(To)` will make another call to `+14159651234`, which is your Twilio number and the same Voice URL will be hit again, thus the infinite loop.

My question is, who should receive the call and answer it when Bob `+8612345678910` is calling `+14159651234`? basically your should use a different value than `To` w

[2018-05-15 03:26] jiananai opened #106 "the twilio number can't be used for registting facebook,google or Lyft, why?"
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces How Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2018-05-15 18:02] bobiechen-twilio commented on #106
Hi @jiananai

I am closing this ticket since it is not related to the Voice SDK. Please go to [Twilio Support](https://support.twilio.com/hc/en-us) and open a support ticket with the question.

Thanks.

[2018-05-15 18:02] #106 closed, assigned to nobody

[2018-05-28 14:46] fabriziomoscon commented on #80
Hi Bobie, I have some important updates on this issue. I had to renew my VOIP certificate on Apple dev portal and afterwards I created new Voice credentials using the API. I noticed that my code was old - still calling `https://ip-messaging.twilio.com`, so I change that to `https://notify.twilio.com`.

Is that the new API? Creating a notify credential is the same as creating a voice credential?

I

[2018-05-29 15:56] bobiechen-twilio commented on #80
Hi @fabriziomoscon

I am afraid I can't provide much help about managing notification bindings/credentials issue using the Twilio Notify APIs. We do plan to provide credential/binding management self-service under the Programmable Voice dashboard, but for this to be resolved quickly, I'd suggest you go to Twilio Support and ask them to purge old credentials with Notify team's help.

Sorry for the

[2018-05-29 18:19] bobiechen-twilio commented on #103
HI @allenming123

I am closing this ticket and assuming that your app is capable of making client to client/number calls without problems. Please feel free to reach out to us if you run into any problems or questions in the future.

Thanks.
-bobie

[2018-05-29 18:19] #103 closed, assigned to bobiechen-twilio

[2018-05-29 20:05] bobiechen-twilio commented on #102
Hi @arvd

Just want to touch base - have you found the root cause that your app is not getting call notification when it is terminated?

-bobie

[2018-05-31 07:35] ankitpatelka commented on #102
Hello Bobie/[@arvd](https://github.com/arvd),

I am also facing same issue.
In my case i am using quick start demo app, now in this app i have just put single page interface ahead of 'Viewcontroller' for calling automatic to fix userid. i am able to call using that functionality.

But now when i close app(killed) and call to that user from another device, i am not getting incoming VOIP call from c

[2018-05-31 16:44] bobiechen-twilio commented on #102
Hi @ankitpatelka

One suggestion is to try using the quickstart and add the similar UI flow to it, then see at which step the app stops showing incoming calls when it's not in the foreground.

[2018-06-04 05:56] ankitpatelka commented on #102
Thanks Bobie it was worked for me, that is issue related Configuration of Callkit (CXProviderConfiguration).

[2018-06-04 16:46] bobiechen-twilio commented on #102
Awesome @ankitpatelka 👍

[2018-06-04 16:46] #102 closed, assigned to bobiechen-twilio

[2018-06-05 16:59] bobiechen-twilio commented on #102
Hi @ankitpatelka

Can you share how you fixed the issue with the CallKit config? this might be helpful also for other SDK users.

Thanks!
-bobie

[2018-06-13 09:44] NijaahnandhRV opened #108 "callHandle returning nil"
Hi,
I'm using twilio voice in my app when the app redirects to the twiliovoice view controller screen the push registry functions are not invoked I'm not getting the access token so that the call is not going. Can anyone help me out with this issue.

Added the frameworks from this site:
https://www.twilio.com/docs/voice/voip-sdk/ios

Xcode
[8.3.3]

iOS Version
[10.12.6]

iOS Device
[iPhone 5s]

Co

[2018-06-13 11:34] suniliosdev opened #109 "Multiplatform support(iOS + Android) for push notification"
Can we use FCM for push notification in VoIP voice call? if I use apn credential its working fine but if I try to use FCM for iOS I am not getting push notification while making call.

If I have to use apn only(as mention in step https://github.com/twilio/voice-quickstart-swift#8-create-a-push-credential-with-your-voip-service-certificate) what should I do if I want to work on both iOS and android

[2018-06-14 19:00] bobiechen-twilio commented on #109
Hi @SunilSpaceo

The Programmable Voice iOS SDK requires a VoIP Service certificate in order to enable the incoming call notifications. It is different from the regular APNS certificate so you will need to follow the quickstart steps to generate one and create Push Credential with the credentials.

Currently Voice iOS SDK does not support notifications using FCM.

thanks
-bobie

[2018-06-14 19:00] #109 closed, assigned to nobody

[2018-06-14 20:00] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

Is the app in the background or terminated when you make the call to the client?

Please make sure the logic can be executed by the frontmost object of the app, so that the app can always respond to the notification and can pass the payload to the Voice SDK.

Thanks.
-bobie

[2018-06-14 20:31] bobiechen-twilio commented on #109
@SunilSpaceo

To be more accurate, FCM does support APN service, but not for Apple VoIP Service at the moment.

[2018-06-15 04:30] suniliosdev commented on #109
Thanks for your reply. I understand, we have to use VoIP Service certificate for iOS but which value should we use as PUSH_CREDENTIAL_SID on server?
if I set that value as FCM push credential, it will work for Android but not for iOS
if I set that value as APN push credential, it will work for iOS but not for Android
so which value to set if I want to support for both iOS and Android.

Is there a

[2018-06-15 04:39] bobiechen-twilio commented on #109
Hi @SunilSpaceo

One way is to embed additional platform info in the http request URL parameter list. For example
[code]
and check the value of the `platform` parameter on your access token server endpoint, then determine which push credential sid to put in the access token.

[2018-06-15 13:45] NijaahnandhRV commented on #108
Hi @bchen-twilio
The app is not in the background or terminated.
Foremost object in the sense can I get a example of what you are saying please. Actually I'm using react & native If I tap the call button in react native screen it will actually redirect to native screen and in Appdelegate I'm calling this viewcontroller. The view controller is called and the VOIP registration is getting registered

[2018-06-15 17:58] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

Are you trying to make an outgoing call or are you trying to accept a call but are having trouble getting the correct value of `callHandle`?
The `callHandle` is passed to CallKit by the application. Please make sure you are using the right value.

[2018-06-18 05:07] NijaahnandhRV commented on #108
Hi @bchen-twilio

I'm trying to make an outgoing call.

CXHandle *callHandle = [[CXHandle alloc] initWithType:CXHandleTypeGeneric value:handle];

In the above line I'm getting the value for the variables(handle & CXHandleTypeGeneric) but after assigning it to the variable callHandle the value is becoming nil.

[2018-06-18 15:27] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

When you said "after assigning it to the variable `callHandle` the value is becoming nil`, is the value becoming invalid right after the line, or were you seeing invalid value in the system Call UI? I have a feeling this has something to do with the `UUID` that you assign to the action
[code]

Can you check if the `uuid` and all other values are correct?

Thanks
-bobie

[2018-06-22 06:40] NijaahnandhRV commented on #108
Hi @bchen-twilio

[[CXHandle alloc] initWithType:CXHandleTypeGeneric value:handle]

This itself is returning me nil. I'm getting UDID correctly.

[2018-06-22 17:03] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

Have you checked if there is any error message in the Xcode debug console? I've tried and it seems that I don't need `CXProviderConfiguration` or `CXCallController` to be initialized first - I tried to initialize `CXHandle` at the beginning of the view-controller and got a valid object back.

I have a feeling that the characters in `handle` is causing the issue.

-bobie

[2018-06-29 06:40] sw-ms-mayankdesai commented on #91
Hello, I am facing the same issue with the bindings in xamarin. Is there any Publish bindings available for Twilio voice-quickstart?

[2018-07-03 14:16] nxz91 opened #110 "Outdated Readme & 52143 - "The push notification was rejected by APNs""
Hello,

I have the feeling that this Howto is a little dated. The Programmable Voice section in the Twilio Console does not contain a Tools subsection and Push Credentials page anymore. This is now part of the Runtime section (Credentials), correct? When I'm trying to ninja my way through this readme, I also get an error message when doing "$> openssl rsa -in key.pem -out key.pem":

When I follow

[2018-07-03 17:02] bobiechen-twilio commented on #110
Hi @nxz91

We are sorry for not updating the quickstart to reflect Twilio console updates. I've already cut tasks and we will update very soon. I believe currently if you want to create/update the mobile push credentials under the Programmable Voice dashboard, it looks like
[code]

About the error when you are generating the private key, not sure if it is the problem but can you run `openssl versi

[2018-07-03 23:16] nxz91 commented on #110
Hi Bobie, thanks for the quick reply! Unfortunately, I keep getting the same error (https://www.twilio.com/docs/api/errors/52143).

Turns out that not specifying a PEM pass phrase (leaving it empty) results in openssl not exporting any key. When I specify something there, I get the encrypted key which I can then turn into an RSA key in the next step. So that part works fine, thanks!

However, the

[2018-07-03 23:23] nxz91 commented on #110
Tried bundle identifiers in Xcode with and without team prefix. Don't really know what else to try...

[2018-07-03 23:34] bobiechen-twilio commented on #110
Hi @nxz91

Glad to see that we are knocking out some obstacles and making progress!
For the `52143` error, could it be that you didn't check the `sandbox` option while creating the Push Credential SID, while your app is running with development entitlement? (or vice versa)

Based on the sandbox option, Twilio Notify service will send the notification request to different APNS endpoints. The PkPush

[2018-07-04 00:09] nxz91 commented on #110
Oh man I don't believe it. Just created a new CSR file and new push credentials and BOOM!

Thanks!!!

[2018-07-04 00:09] #110 closed, assigned to nobody

[2018-07-04 00:11] bobiechen-twilio commented on #110
@nxz91 Nice!

[2018-07-05 23:41] bobiechen-twilio commented on #110
Btw, we've updated the outdated screenshots and links of the README. Thanks again for reporting @nxz91!

Cheers
-bobie

[2018-07-11 00:20] nxz91 opened #112 "Unable to place call from server while <Dial> works"
Hello, me again –

I am successfully establishing a connection between two clients by using TwiML and creating a VoiceResponse with the Dial verb. Now my next task is to make an outbound call to a client.

When I try to reach the same client that I just successfully called from client to client (with TwilioClient.connect) with an outbound call via NodeJS client.calls.create({to: 'client:clientId',

[2018-07-11 00:28] bobiechen-twilio commented on #112
Hi @nxz91

Did you mean `callerId is no valid`?
The `makeCall` endpoint in the Node JS example should be able to help you out: https://github.com/twilio/voice-quickstart-server-node/blob/master/src/server.js#L68

Thanks
-bobie

[2018-07-11 05:48] NijaahnandhRV commented on #108
Hi @bchen-twilio
Can I get a sample code of yours please???

[2018-07-11 05:52] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

The samples in Obj-C and Swift quickstarts are pretty much the same as the internal testbed app which exercises the SDK APIs end to end. Have you tried to use your own credentials (access token, app bundle ID) in the quickstart and see if the same problem happens?

[2018-07-11 05:54] NijaahnandhRV commented on #108
Hi @bchen-twilio
Yes I have used my own credentials (access token, app bundle ID) in this.

Here is the sample code project where we integrated Twilio and reproduced the issue. Please download the source from below link.

https://www.dropbox.com/s/wfzxctq0dnh00l2/react-native-starter-latest.zip?dl=0

Once you run the react native project you can find the screen with a skip link. Clicking on that s

[2018-07-11 08:41] NijaahnandhRV commented on #108
Hi @bchen-twilio

I have also installed npm and pod as per the instructions given in the below link and i get the same error.

https://github.com/hoxfon/react-native-twilio-programmable-voice

Here is the sample code project where we integrated Twilio and reproduced the issue. Please download the source from below link.

https://www.dropbox.com/s/cvox9gnptw6q293/react-native-starter-latest.zip?dl=

[2018-07-11 12:49] nxz91 commented on #112
Hi @bchen-twilio

Just realized that this is coming from the Twilio server. When I am running Twilio.calls.create() or the below command, I get this error. The error code is 21211 (https://www.twilio.com/docs/errors/21211).

This is the command I ran (with [accountSid], [authToken] and [myVerifiedNumber] replaced):

curl -XPOST https://api.twilio.com/2010-04-01/Accounts/[accountSid]/Calls.json \

[2018-07-11 16:57] bobiechen-twilio commented on #112
Hi @nxz91

Thanks for the clarification.
Now it all comes together and I remember I had the same issue while working on the SDK integration tests - we also use Twilio Client REST APIs to trigger incoming calls to the mobile client and we use `NSUUID` to generate unique IDs for each round of tests, but then realized the `-` in the ID kept failing the REST calls so we had to remove the `-`s from the

[2018-07-11 16:59] bobiechen-twilio commented on #108
Thanks for providing code snippets @NijaahnandhRV. We'll take a look.
@fabriziomoscon - wondering if you saw the same issue before?

[2018-07-11 19:03] nxz91 commented on #112
Hi @bchen-twilio

Nice one, problem solved!

 Thanks!!! Have a great one :-)

[2018-07-11 19:03] #112 closed, assigned to nobody

[2018-07-12 01:19] benSmith1981 commented on #101
Dear BChen, I also have the same issue but with Programmable chat. I replied to this on another thread, so you may see!! https://github.com/twilio/voice-quickstart-swift/issues/142 and here https://stackoverflow.com/questions/51296066/twilio-chat-ios-production-apn-certifications-error-52131

When I test my sandbox APN certifcates the push notifications work perfectly. Project SID: IS5c984ff02c934

[2018-07-17 19:23] nxz91 opened #113 "Show friendly from field in CallKit but keep unique client identifier"
Hello again from Berlin,

When receiving an incoming call, I would like to show a friendly name (e.g. the chosen group name or the first name of the person calling) in CallKit. On the other side, I would like to be able to also get the full caller identifier (a UUID) to be able to know who is actually calling in my client logic.

However, the call object I am getting only contains one from field (

[2018-07-17 19:41] bobiechen-twilio commented on #113
Hi Leonard,

Thanks for the question.
As we don't support custom params in the push notification payload, currently the only value for displaying the caller's name is the `from` value of the `TVOCallInvite` object, and it does have to comply to some Twilio character limitation, which makes it hard for developers to put arbitrary values.
If the friendly name to be displayed is not more complicated

[2018-07-17 20:53] nxz91 commented on #113
Hi Bobie,

Thanks for the clarification! My first idea was encode a JSON object as base64 in the from field and then decoding it and only passing the `friendly` key to reportNewIncomingCallWithUUID, while an `id` field is processed internally. The problem is that base64 is not alphanumeric (there are two 3 disallowed characters in there). The alternative I'm looking into is a base32 encoded serial

[2018-07-17 20:53] #113 closed, assigned to bobiechen-twilio

[2018-07-17 20:55] nxz91 commented on #113
(The one negative effect of this being that people cannot call the user back through the Phone app, but that is not working in my case for some reason anyway)

[2018-07-17 20:57] bobiechen-twilio commented on #113
Thanks Leonard! This is good info for us too.

[2018-07-17 21:31] nxz91 commented on #113
One thing I forgot to ask 😬 : what is the maximum length of the `from` field? The link you sent only says alphanumeric and underscore, but nothing about maximum length (https://www.twilio.com/docs/voice/client/capability-tokens) :-)

[2018-07-17 21:46] bobiechen-twilio commented on #113
The funny part is, and we've actually done some experiments with very long names, we don't know the length limit of client ID. The Voice service doesn't seem to have any restrictions as for the length, only the characters allowed are documented.

[2018-07-17 21:53] nxz91 commented on #113
😀 That's great news! By the way, this is a tremendous support experience. Thanks!!!

[2018-07-20 05:12] NijaahnandhRV commented on #108
Hi @bchen-twilio
Is there any updates about the issue I have sent you. It's been 9 days, can you please update me as soon as possible please!!!!!!!

[2018-07-20 16:53] bobiechen-twilio commented on #108
Hi @NijaahnandhRV

Sorry for not being able to respond back to you promptly.
I don't have the environment set up to try the RN project currently but when I tried the quickstart the `CXHandle` object was always valid.
This seems to be a problem with the RN plugin. Can you try following the instructions in the README and see if the value you use to initialize the `CXHandle` object works in the quick

[2018-08-09 12:35] gerchicov-bp commented on #19
@bchen-twilio hello
Is it correct to rerequest a new access token before each outgoing call?

[2018-08-09 16:03] bobiechen-twilio commented on #19
Hi @gerchicov-bp

This is a good question.
Not exactly. The Access Token is used for authentication purpose when every time calling `TwilioVoice.call()` or `TwilioVoice.un/register()`. The longest token `ttl` allowed by Twilio is 24 hours. If for some reason, e.g. user experience, that fetching new access token every time is not a idea, the application can keep it in the local storage and reuse it

[2018-08-10 10:00] NijaahnandhRV opened #115 "VOIP Push Notification"
Hi,

I tried to call from one device to another device in development mode. From the device I called the call is initiated and it's ringing, but the device I called to is not getting notified about the incoming call. I created the certificate from Apple Push Notification service SSL (Sandbox).

![screen shot 2018-08-10 at 3 24 04 pm](https://user-images.githubusercontent.com/37614736/43951763-8d5e

[2018-08-10 15:47] bobiechen-twilio commented on #115
Hi @NijaahnandhRV

The README of the quickstart clearly says you should `Create an Apple VoIP Services Certificate for this app`
<img width="770" alt="screen shot 2018-08-10 at 8 45 56 am" src="https://user-images.githubusercontent.com/16326574/43967764-065d3ed0-9c7a-11e8-9d4d-a45e81e4d2d8.png">

[2018-08-11 04:47] NijaahnandhRV commented on #115
Hi @bchen-twilio

1)As we are testing in development mode how can we use production certificate for testing in development mode

2)I have also tried using VoIP certificate and tried calling, I get the same error logged in my twilio console.

[2018-08-12 22:12] kieronlawson opened #117 "3.0 SDK - Codec choice - Opus, G711 etc"
Hi,

We are tracking the new 3.0 release of the mobile SDKs and are curious about this comment in the release notes:
'This is our first WebRTC based release using Chromium WebRTC 57.'

We note that the current version is based around pjsip and as far as I can tell through the pjsip logs it appears that during SDP negotation the Twilio media gateways currently require the use of the G711 codec (a=r

[2018-08-13 00:24] idelgado commented on #117
Yes, we do plan on adding support for Opus moving forward and we are in the process of enabling this capability in our media infrastructure. We would like to make Opus the default audio codec long-term.

We plan on providing an API that closely resembles [preferAudioCodecs](https://twilio.github.io/twilio-video-android/docs/latest/com/twilio/video/ConnectOptions.Builder.html#preferAudioCodecs-java

[2018-08-13 16:50] bobiechen-twilio commented on #115
Hi @NijaahnandhRV

Apple VoIP Service certificate works for both development and production environment. In the development phase (before the app is deployed for in-house distribution or submitted to App Store), you need a Push Credential SID with the **sandbox** option checked. When the app is ready for production, create a different Push Credential SID (with the same VoIP cert) only this time **

[2018-08-29 14:50] lazarvgd opened #119 "callInviteReceived returning null on callInvite.state"
Hi, I am using Twilio lib for ios app written in objective c. The problem is happening when using voip call following this procedure:

- Alice is calling Bob

- Bob is answering the call and talk with Alice

- Alice hangup, but Bob never receives the end call so CallKit is still displayed and detecting that call is still going on.

the log from twilio lib  is here:
`
2018-08-29 16:46:40.042043+020

[2018-08-29 17:00] bobiechen-twilio commented on #119
Hi @lazarvgd

Thanks for reporting the issue.
It seems odd to me that the `callInvite.state` value you were seeing is `nil`, but apart from that, on Bob side did you get the `call:didDisconnectWithError:` delegate callback when Alice hung up the call? From the log snippet, assuming that's the log of Bob's side, I did see the `disconnect` messages without error.

In the [quickstart](https://github.

[2018-08-30 08:39] lazarvgd commented on #119
Hi, sorry for the delay. I will update this comment with the information that I found.

Yes, logs are of Bob's side.
No, no logs about that.

I have implemented that part of the code in this way:
[code]

But in the logs there is no log from method **callDisconnected**, nor from call **didDisconnectWithError**

When and what should call method **didDisconnectWithError**?

Non of these lines are sho

[2018-08-30 17:42] bobiechen-twilio commented on #119
Hi @lazarvgd

For a call to be properly finished on Bob's side, the application should receive the `call:didDisconnectWithError:` delegate callback in this scenario. My hunch is that we should check if the instance that implements the `id<TVOCallDelegate>` is available at the time the call is disconnected by the remote party (Alice).

The `callInvite.state` should not have anything to do with the

[2018-08-31 08:00] lazarvgd commented on #119
Hello @bchen-twilio,

Here is my [CallManager](https://pastebin.com/B89TdBMW), which is singleton. And [TwilioHelper](https://pastebin.com/L01GJhmU) that implements TVOCallDelegate.

ViewController is asking CallManager to make a call, CallManager instantiate TwilioHelper and makes call. So, no weak references.

Please take a look and let me know if I am missing something?

thanks

[2018-08-31 08:02] nicolettemanas opened #121 "Problem with rejecting a call in iOS12"
### Description

There seems to be an issue when trying to reject a call from an iOS12 device. The caller is not receiving any reject voip push notification.

### Steps to Reproduce
1. Make sure Bob's device is running on iOS12 and the app is _terminated_
2. Alice calls Bob
3. Bob rejects the call (via CallKit reject button)

#### Expected Behavior
Calls on both devices must end

#### Actual Behav

[2018-08-31 17:58] bobiechen-twilio commented on #121
Hi @nicolettemanas

Thanks for reporting the issue.
I am also able to reproduce the problem, although first I had to use a dispatch global queue to initialize the PushKit registry so the application can report the call to CallKit when the call is received while the app was terminated.
I'll need to so some debug to see while the reject operation is not properly executed in this scenario and will le

[2018-08-31 18:23] bobiechen-twilio commented on #119
Hi @lazarvgd

Please make sure you are passing a valid `TVOCallDelegate` object when making/accepting a call and ensure the lifecycle of the delegate so that the application can receive call state transitions. From the log we did see the call is disconnected and it should also fired the delegate callback to the application.

thanks
-bobie

[2018-09-03 09:46] NijaahnandhRV commented on #108
Actually everything is working fine the phone which we used was lower version phone iOS version was low.

[2018-09-03 09:46] #108 closed, assigned to nobody

[2018-09-06 15:03] lazarvgd commented on #119
Hi @bchen-twilio

I have perform intense testing, and I did nothing in code - no changes made, what I found is interesting. I have perform 5 calls in a row, Alice called Bob, Bob answered and Alice ended the call.
In logs I found just one block of messages:
[code]
So, I can say for sure that all objects are ALIVE and capable to perform action to dismiss the CallKit.

Please can you advice how to s

[2018-09-10 02:58] nicolettemanas commented on #121
Hi @bchen-twilio
Are there any updates on the issue? Let me know if you need further details.

-Jean

[2018-09-11 18:08] bobiechen-twilio commented on #121
Hi @nicolettemanas

We haven't made much progress on this issue, but from the feedback of some SDK users, they are able to greatly reduce the reproducibility by initializing the `PkPushRegistry` instance in a concurrent queue so that things move more smoothly in case the app has been terminated and relaunched by the incoming call notification.

Let me know.
-bobie

[2018-09-12 12:15] #115 closed, assigned to nobody

[2018-09-13 01:20] bobiechen-twilio commented on #119
Hi @lazarvgd

Sorry for the delay.
Couple of questions:
- Are you able to connect a call between Alice and Bob and hear audio between two participants?
- Are you able to receive both `callDidConnect:` and `call:didDisconnectWithError:` callbacks, on both side during the lifecycle of the call?

[2018-09-28 03:07] #98 closed, assigned to bobiechen-twilio

[2018-09-28 03:09] aryo commented on #98
closed due to being no longer relevant. i know it's late, but thanks for the help bobie.

[2018-10-24 08:42] lyqflnh opened #129 "How Can I distinguish getting through from waiting to getting through?"
How Can I distinguish getting through from waiting to getting through?

I know when I make a call, delegate method - call:callDidConnect: - will be called, but when the calling is get through, It seem I can not do things when the call is get through.

P.S. I just want to starting a timer when the call is actually getting through instead of connected succeed.

[2018-10-24 18:11] bobiechen-twilio commented on #129
Hi @lyqflnh

If I am understanding correctly, you want to receive the `callDidConnect:` callback only when the call is answered by the callee, right?
There is [a flag called `answerOnBridge`](https://www.twilio.com/docs/voice/twiml/dial#answeronbridge) which you can specify in the `<Dial>` verb. The flag is disabled by default. By enabling the flag, the call will stay in `connecting` state and the

[2018-10-26 02:10] lyqflnh commented on #129
Two Question Now:

1. Can I distinguish the rejection of callee?

2. About expiration of access token

I think there is unreasonable design here: even I set the access token expiration to 24 hour. I can not assure my app users to open my app every day, and they might miss a call invite.

Take a example:
Bob use my app, and successfully register VoIP Push Notifications via `[TwilioVoice registerWit

[2018-10-26 16:33] bobiechen-twilio commented on #129
Hi @lyqflnh

1. Unfortunately the SDK does not (yet) provide the reason as for why the call was disconnected, for example the call was rejected by the callee.
2. The `expiry` in the Access Token only affects when making a call or registering for notification. The mobile client will be able to receive incoming calls unless the app/user explicitly unregisters, or the VoIP certificate itself is inval

[2018-11-05 05:28] lyqflnh commented on #129
One more question:

How can I get the countryISO of a number when I get the pushKit notification?
`- (void)pushRegistry:(PKPushRegistry *)registry didReceiveIncomingPushWithPayload:(PKPushPayload *)payload forType:(NSString *)type {}`

I can get this `"twi_from" = "+1661XXXX831"` from payload.

I want know is there any way to configure the data in playload from my server.

my purpose is to get cou

[2018-11-05 05:35] bobiechen-twilio commented on #129
Hi @lyqflnh

Although custom push parameters are supported in the TwiML response but the current 2.0 Voice SDK does not provide API to access those values from the SDK objects. You can follow [this guide in the Voice 3.0.0-preview4 changelog](https://www.twilio.com/docs/voice/voip-sdk/ios/3x-changelog#300-preview4-october-2-2018) and add custom parameters when you generate the TwiML response and a

[2018-11-05 09:40] lyqflnh commented on #129
A call B (NO CALLKIT)
B invoke delegate method `didReceiveIncomingPushWithPayload` two times

I use  following code this to aviod present twice communication page

[code]

it's working, but when I cancel the calling on A, B will not get into delegate method `didReceiveIncomingPushWithPayload `.

I want to why fire `didReceiveIncomingPushWithPayload ` twice and how can I handle it properly.

Thanks

[2018-11-05 17:12] bobiechen-twilio commented on #129
Hi @lyqflnh,

You should always give the notification payload to the SDK (here:
https://github.com/twilio/voice-quickstart-objc/blob/master/ObjCVoiceQuickstart/ViewController.m#L160)
and you will be notified by the SDK:
- Invite received and pending for answer:
https://github.com/twilio/voice-quickstart-objc/blob/master/ObjCVoiceQuickstart/ViewController.m#L186
- Or invite was canceled:
https://gi

[2018-11-20 11:16] jamesawer3 opened #132 "Call screen is minimised"
Hi,
 I'm using twiliovoice in my app I'm registering the device token when the app starts itself (i.e) in appdelegate. In registration there is no error's app is getting registered successfully and call is coming. The problem comes here since im using iOS the native call screen is coming so if I attend the call the native calling screen is getting hidden and it can't be opened, the green bar comes

[2018-11-22 21:40] piyushtank commented on #132
@jamesawer3 Thanks for reaching out. Can you answer following questions in order to debug the problem further -
1. The Voice SDK version, iOS version and the iOS device
2. Are you using CallKit in your app?
3. When you said incoming native call, did you mean a PSTN (or other app's VoIP)  call or an incoming Voice SDK call ? If its Voice SDK call on CallKit UI, you can go to app from by clicking th

[2018-11-27 12:07] bobiechen-twilio commented on #132
Hi @jamesawer3

It is a CallKit designed behavior that the call will be redirected to the app itself when the phone is not locked, e.g. answering CallKit incoming call when the app is in the foreground or background. You will find the system Call UI in the recently active app list when you double-tap the home button.

TwilioVoice SDK also has APIs to allow your app to perform all the functionaliti

[2018-12-05 02:13] DrBeak1 opened #134 "AVAudioSessionPortImpl.mm:56:ValidateRequiredFields"
@bchen-twilio requested this issue be moved here. Originally posted [here](https://github.com/twilio/twilio-voice-ios/issues/7)

### Description

When trying to call, error:
`[avas] AVAudioSessionPortImpl.mm:56:ValidateRequiredFields: Unknown selected data source for Port Speaker (type: Speaker)`

### Steps to Reproduce

1. Try to make a call

#### Code

[code]

#### Expected Behavior

Call is con

[2018-12-05 22:44] DrBeak1 commented on #134
@bchen-twilio any idea when this will be fixed? It's currently broken in a production level application causing some pretty painful consequences. Normally I'd jump in and try to solve the issue within the framework myself, but since it's private I'm not able to do so.

Edit: I saw your changes in your PR. To be clear, microphone permission is granted and this is still an issue. I tested this was t

[2018-12-05 23:27] DrBeak1 commented on #134
@bchen-twilio -- I was able to get things working. I think something was goofy with iOS and the settings associated with the application. I updated my device to iOS 12.1.1, deleted and reinstalled the application, and voila everything started to work. Maybe the permissions got out of sync somehow. Thanks for your attention.

[2018-12-07 18:28] bobiechen-twilio commented on #134
Hi @DrBeak1

Sorry for my delay of getting back to you. Seems like an iOS issue according to your investigation but I am glad that it started to work after the OS update. I will check with our QE team and see if they also noticed something since we also execute SDK validations using beta versions of the iOS.

Anyway, thanks again for reporting the issue with such great investigation info. I am clo

[2018-12-07 18:28] #134 closed, assigned to bobiechen-twilio

[2018-12-12 23:54] piyushtank commented on #121
@nicolettemanas I apologize for the delayed response. Just wanted to point out that, we are working this issue and will soon have an update for you. Again thanks for reporting the issue.

Best,
Piyush

[2018-12-13 01:55] colinyip opened #138 "Crash on NSInvalidArgumentException"
### Description

Crash on Fatal Exception: NSInvalidArgumentException

### Steps to Reproduce

I am not able to reproduce it locally, but it happens occasionally in our production app.

#### Logs

Please see the following crash log from firebase:

[code]

### Versions

All relevant version information for the issue.

#### Voice iOS SDK

2.0.7

#### iOS Version

12.1.0

#### iOS Device

Phone X

[2018-12-13 02:02] colinyip opened #139 "Crash on EXC_BAD_ACCESS"
### Description

Crash on EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x00000002fb3bd560

### Steps to Reproduce

I am not able to reproduce it locally, but it happens occasionally in our production app.

#### Logs

Please see the following example crash logs from firebase:

[code]

### Versions

All relevant version information for the issue.

#### Voice iOS SDK

2.0.7

#### iOS Version

12.1.0, 12.0.1,

[2018-12-13 02:57] bobiechen-twilio commented on #138
Hi @colinyip

Thanks for reporting the issue and we are sorry for the inconvenience.
I'll re-symbolicate the stack and see what is exactly method that threw the exception.
While we are working on the symbols, from what I can see there are a few cases that `NSInvalidArgumentException` can be thrown by `TwilioVoice`:
- Invalid access token (not `NSString` or empty) passed to the `call()` method
- In

[2018-12-13 20:38] colinyip commented on #138
@bchen-twilio Awesome, thanks for looking. Looking forward to seeing what you find.

[2018-12-24 09:29] rochapablo commented on #33
https://stackoverflow.com/questions/53888958/twilio-incoming-calls-not-working-for-ios

[2018-12-26 10:05] rochapablo commented on #115
https://stackoverflow.com/questions/53888958/twilio-incoming-calls-not-working-for-ios

[2018-12-29 00:24] bobiechen-twilio commented on #132
Hi @jamesawer3
I am closing this ticket since there hasn't been activity for a while and assuming you are satisfied with the answer. Please feel free to reach to us if you run into any issue or question in the future.

Thanks!
-bobie

[2018-12-29 00:24] #132 closed, assigned to nobody

[2018-12-29 00:24] bobiechen-twilio commented on #129
Hi @lyqflnh
I am closing this ticket since there hasn't been activity for a while and assuming you are satisfied with the answer. Please feel free to reach to us if you run into any issue or question in the future.

Thanks!
-bobie

[2018-12-29 00:24] #129 closed, assigned to bobiechen-twilio

[2018-12-29 00:29] bobiechen-twilio commented on #121
Hi @nicolettemanas

Sorry for my lack of updates. We've just updated the quickstart sample apps recently and added a couple fixes to address some of the background-suspended issues in iOS 12. You can refer to [this pull-request](https://github.com/twilio/voice-quickstart-objc/pull/142) and apply necessary updates to your application.

Please let us know if this helps
Thanks!
-bobie

[2019-01-08 01:30] bobiechen-twilio commented on #138
Hi @colinyip

Sorry for my lack of responses due to the holidays. If it's not too much trouble for you, can you provide us the complete contents of the crash report, including the headers (e.g. `Report Version`, `OS Version`, etc.) and the `Binary Images` section at the bottom of the report, so that we can re-symbolicate using the SDK debug symbols?

Thanks
-bobie

[2019-01-08 23:06] GBR-422777 commented on #109
@bchen-twilio

platform ios_sandbox in this case is the destination platform or source?

[2019-01-08 23:09] bobiechen-twilio commented on #109
@GBR-422777 everything embedded in the access token is meant for the local client.

[2019-01-09 00:07] GBR-422777 commented on #109
Okay @bchen-twilio ,

So we have implemented the solution you suggested above regarding changing the source.

Result is:
- Android to Android works
- iOS to Android works
- Android to iOS does not work.

For the case of Android to iOS sometimes we get the following error:
52143 The push notification was rejected by APNs
- The device token does not match the specified topic."

Other times it does n

[2019-01-09 00:23] bobiechen-twilio commented on #109
@GBR-422777
Is the iOS app (under the same bundle ID) using multiple Push Credential SIDs? Please make sure you follow the [push credential setup guide](https://github.com/twilio/voice-quickstart-objc#8-create-a-push-credential-with-your-voip-service-certificate) for the iOS app.

[2019-01-09 00:26] GBR-422777 commented on #109
@bchen-twilio ,

Yes we followed this twice.

[2019-01-09 00:47] GBR-422777 commented on #109
@bchen-twilio
We are following the steps again and in the cert.pem has two ----START  CERTIFICATE----- ----END CERTIFICATE-----
First for VoIP
Second for Push Notifications.

Key.pem is only being generated when we put a passphrase otherwise it shows an error.
it contains the RSA key

Any clue?

[2019-01-09 01:05] bobiechen-twilio commented on #109
@GBR-422777
To be safe I'd recommend using separate CSRs to generate different certificates for regular APNS and VoIP service.
To tackle the notification delivery problem we are seeing here:
- Please check if the app is receiving any PushKit notification at different states (active/backgrounded/terminated). You can use the mac OS Console app to view the device log when the phone is not attached to

[2019-01-09 01:30] GBR-422777 commented on #109
@bchen-twilio,

Issue solved.
We regenerated all of the certificates including the provisioning profile.

Thank you for your help and guidance.

[2019-01-09 01:33] bobiechen-twilio commented on #109
@GBR-422777 glad to hear that! Thanks for providing useful debugging info.
Cheers 🍻

[2019-01-15 03:45] colinyip commented on #138
Thanks, @bchen-twilio

Sorry for the late responses. I can't seem to find the complete crash report you mentioned anywhere. We use Crashlytics and look at crash reports from firebase, but I can't seem to find the "Binary Images" section there. Also, all the stack trace related to "TwilioVoice" is showing "missing" instead of the function name. Am i missing a dSYM for the Voice SDK? If so, where do

[2019-01-16 10:47] rohanmali153 commented on #59
Hi, @bchen-twilio  I'm facing the same issue. I have tried your solution to create VoIP certificate using fresh CSR it's not working for me.
I will send you Twilio account SID and (sandbox) Push Credential SID to your email.
can you please check it and help me to solve out this issue.
Thanks.

[2019-01-18 17:47] bobiechen-twilio commented on #138
Hi @colinyip

We do not ship the dSYM of the framework in the package however I can provide you the debug symbol so you can resymbolicate the crash stack. You know where to find my work email :).

Thanks
-bobie

[2019-01-20 21:39] colinyip commented on #138
Hi @bchen-twilio

I have sent you an email regarding this.

Thanks!

[2019-03-24 15:28] sojitrajay opened #152 "Call indicator bar is not responding for audio and video call."
I have implemented voice kit successfully in the application.

I am not able to move in the application from call indicator. Also, I am not able to see green bar on other application screen when user moves from call screen. I have added custom view in navigation bar, but it's not much responsive.

![Simulator Screen Shot - iPhone XS Max - 2019-03-24 at 20 47 49](https://user-images.githubuserconte

[2019-03-26 16:08] bobiechen-twilio commented on #152
Hi @sojitrajay

This is the behavior when integrating the CallKit framework and there is no SDK configuration to hide or disable it.

Thanks,
-bobie

[2019-03-27 07:41] sojitrajay commented on #152
@bchen-twilio I am able to move to application from call indicator in background. It was not working on simulator where it did work in the device.

But the question is  why I am not able to see this call bar in the application at the time of ongoing call.

Do you have any reference to working example?

[2019-03-27 16:24] bobiechen-twilio commented on #152
Hi @sojitrajay

It seems to be designed to only show the green status bar to indicate that there is an active call while the VoIP app is in the background.

Thanks
-bobie

[2019-04-01 16:50] richardabear opened #154 "On Disconnect Remote - Not firing CallListener.disconnected w/CallKit"
### Description

Using Callkit to receive incoming calls, there is an issue with the ondisconnect triggers. They dont seem to fire but, twilio is logging an disconnect-by-remote event strangely. I have confirmed that the ondisconnect trigger is working on outgoing call.

### Steps to Reproduce

1. Remote number (PTSN) Calls webserver
2. Webserver routes to client call
3. client answers the voice c

[2019-04-01 19:01] bobiechen-twilio commented on #154
Hi @Owchzzz

Thanks for reporting the issue. While I am trying the same call routing scenario as in your description, can you help us confirm if the app can get the `call:didDisconnectWithError:` callback in a simple incoming call (make a call directly to the mobile client) when the call is disconnected by the caller? I've tried a simple CallKit incoming call and was able to receive the callback.

[2019-04-01 23:47] bobiechen-twilio commented on #152
Closing the issue since this is a system framework design. Feel free to create new issue in the future.

[2019-04-01 23:47] #152 closed, assigned to nobody

[2019-04-01 23:50] bobiechen-twilio commented on #121
@nicolettemanas

I am closing this issue assuming the fix we provided in the pull request has addressed the original issue you reported. Please feel free to reopen or open new issues in the future.

Thanks,
-bobie

[2019-04-02 00:09] bobiechen-twilio commented on #119
Closing the issue for now. Please feel free to re-open or create new issue in the future.

[2019-04-02 00:09] #119 closed, assigned to bobiechen-twilio

[2019-04-02 07:01] richardabear commented on #154
hi bchen, yes i can confirm that if connecting directly through the client, the ondisconnect trigger fires.

[2019-04-02 07:01] richardabear commented on #154
I actually work for a CRM company and our solution works flawlessly on web (ondisconnect firing)

[2019-04-02 12:24] richardabear commented on #154
@bchen-twilio ive gotten to confirming its actually switching the page view that cancels out the listener.

Incoming call (Callkit) -> upon accepting the call -> switch page to "Call page" -> Disconnect on remote end -> no notice on client side

also notably:

Clientside disconnect -> Callkit still runs -> i open the callkit app (phone call) -> end call -> Results in a call failed

[2019-04-02 13:01] richardabear commented on #154
im getting an onTerminated call from Debug:twilio[core] @bchen-twilio is this exposed? its not in: https://media.twiliocdn.com/sdk/ios/voice/releases/3.0.0-beta5/docs/Protocols/TVOCallDelegate.html doc reference.

perhaps there is a need to expose onTerminated for this specfic use case?

[2019-04-02 13:08] richardabear commented on #154
INFO:Twilio:[Signaling]:RESIP::DUM: Got: SipReq:  BYE VoiceSDK@180.191.142.78:54585 tid=eb62.926df317.0 cseq=1 BYE / 1 from(wire)
INFO:Twilio:[Signaling]:RESIP::DUM: Handling in-dialog request: SipReq:  BYE VoiceSDK@180.191.142.78:54585 tid=eb62.926df317.0 cseq=1 BYE / 1 from(wire)
INFO:Twilio:[Signaling]:RESIP::DUM: Received SipReq:  BYE VoiceSDK@180.191.142.78:54585 tid=eb62.926df317.0 cseq=1 BY

[2019-04-02 13:09] richardabear commented on #154
i think these two lines are very peculiar

`DEBUG:Twilio:[Core]:onTerminated: reason 4
DEBUG:Twilio:[Core]:onTerminated`

[2019-04-02 13:14] richardabear commented on #154
@bchen-twilio just double checked, the callDidDisconnectWithError did not fire.

[2019-04-02 13:30] richardabear commented on #154
I think this is similar to but not exactly this issue tagged: https://github.com/twilio/voice-quickstart-swift/issues/190

[2019-04-02 16:50] bobiechen-twilio commented on #154
Hi @Owchzzz

Yes, it seems the issue you are describing here is related to a bug previously existing in the sample app. Please check out the updates in the [pull request](https://github.com/twilio/voice-quickstart-objc/pull/141) to ensure calls are properly ended, by local or remote party, and reported to CallKit.

Thanks,
-bobie

[2019-04-03 06:44] richardabear commented on #154
hi @bchen-twilio i think its not the same issue as i am not getting the problem whenever i dont switch page views (example, route outside of the main application view on applicationDidEnterForeground for example on ios).

this issue only happens when i try to route the user into another view.

does twilio have a recommended implementation for having custom page views to handle the incoming calls?

[2019-04-03 06:57] bobiechen-twilio commented on #154
Hi @Owchzzz

The application has to properly end and report the end of the call to CallKit regardless of the view hierarchy of the application. It seems the error you were seeing whey ending the call was due to a previous bug that the sample app does not report to CallKit properly when the call is disconnected by the remote party.
The application can have a common module, which is separated from t

[2019-04-03 17:34] richardabear commented on #154
hi @bchen-twilio confirmed that i needed to add the reportcallended on call disconnect it now works,

however, i am currently still having a problem when the ios app changes page views, for some reason, the listeners no longer fire...

[2019-04-03 17:43] bobiechen-twilio commented on #154
Hi @Owchzzz

Glad to see that the fix works for you.
Did you mean that the callback methods of `TVOCallDelegate` stopped firing after view transitioning? that case you will need to check if your delegate instance is still responding on the main dispatch queue, which is the default dispatch queue used by the SDK unless a designated dispatch queue is specified via `TVOConnectOptions.delegateQueue`.

[2019-04-04 03:52] richardabear commented on #154
Hi @bchen-twilio i think this may very well be the problem. That is correct its the TVOCallDelegate that I am having problems with.

I apologise for having forgotten to mention that i am using Nativescript, i thought i had mentioned that originally, but after backreading i see that i havent mentioned that.

The problem comes up when im using the default angular router to change routes.

[2019-04-04 06:46] richardabear commented on #154
@bchen-twilio do you have any resources on twilio regarding using different queues?

I think if i place it in the concurrent queue, it will not be an issue anymore. I can not find any resources online regarding dispatch_queues and how to generate one

(edit)

I found resources, sorry i was looking in the wrong places. lol. im trying to separate the queue now

[2019-04-04 20:00] bobiechen-twilio commented on #154
Hi @Owchzzz

Cool. Let me know how things go.

Thanks!
-bobie

[2019-04-05 05:16] richardabear commented on #154
Hi @bchen-twilio i know this is not a ios specific question, its more of a nativescript question,

I am still having a problem implementing the sdk on mobile, and i have narrowed the problem down to the angular router. for some reason, whenever i invoke angular's view update, it causes the CallDelegate to stop emitting events like onDisconnected.

Perhaps you have an idea or can point me to the ri

[2019-04-05 07:51] richardabear commented on #154
hi @bchen-twilio
[code]

thats the log i get from simply ending a call on remote, the callDidDisconnectWithErrors did not trigger

[2019-04-05 17:28] bobiechen-twilio commented on #154
Hi @Owchzzz

Unfortunately the SDK does not log additional message when sending the `call:didDisconnectWithError:` callback to the application, but from the SDK log the call seems to be disconnected and terminated by the remote party. Ideally the `call:didDisconnectWithError:` callback should be fire immediately after the `onTerminated` line in the log unless the delegate is already gone.

I am no

[2019-04-06 06:23] richardabear commented on #154
Hi @bchen-twilio I have a public repository that set this up, it may look unfamiliar because its nativescript, however take a look at the files in the delegate folder specifically for delegate.ios.ts

https://github.com/Owchzzz/nativescript-twilio/blob/update-twilio-v3-beta5/src/delegate/delegate.ios.ts

[2019-04-06 06:25] richardabear commented on #154
perhaps you can have a javascript engineer take a look at this and they might get some idea, take note i do attach the call delegate from inside of the same delegate file which should typically mean that it runs in the same thread as the UI Thread

[2019-04-08 17:46] bobiechen-twilio commented on #154
Hi @Owchzzz

Thanks for sharing the code. Can you provide a brief explanation of how a call works in your application and what components are involved? The delegate implementation itself doesn't show much of how views/pages are transitioning and how share components communicate to each other.

Thanks,
-bobie

[2019-04-08 23:43] richardabear commented on #154
Hi @bchen-twilio sure thing,

Okay so that is actually a nativescript plugin to be able to interface with the twilio voice sdk. the Application delegate is called the same as native iOS via UIApplicationDelegate

as you can see in the src there is a Custom Call Delegate Class that implements TVOCallDelegate https://github.com/Owchzzz/nativescript-twilio/blob/21b060245e404e4860bf5ce06d1beb8e48f541f

[2019-04-09 09:48] lyqflnh opened #158 "It seems I can not make"

[2019-04-09 09:51] lyqflnh commented on #158
It seems I can not make a call to China.

Voice call to China will be block .

My app has a great demand in China, any idea how can I enable access.

[2019-04-09 16:09] bobiechen-twilio commented on #158
Hi @lyqflnh

For phone number and geo-permission, please file a [Twilio Support](https://support.twilio.com/hc/en-us) ticket and we can help you from there.

Thanks.
-bobie

[2019-04-09 16:09] #158 closed, assigned to nobody

[2019-04-10 00:41] dekpient opened #159 "Audio lost for 5 seconds when PSTN call comes in"
### Description

Audio on connected VoIP call is lost for about 5 seconds when a new incoming PSTN call comes in. The audio comes back on its own if rejecting the PSTN call or waiting for a bit.

This is consistently reproducible on iPhone 7 Plus (iOS 12.2) running the  ObjCVoiceCallKillQuickstart app with Twilio SDK 3.0.0-beta11 (the 3.x branch of this project).

This is not an issue on Twilio SD

[2019-04-10 03:13] bobiechen-twilio commented on #159
Hi @dekpient

Thanks for reporting the issue with details descriptions and logs.
While we are trying to reproduce and investigate the issue based on your steps, can you adjust the SDK log level (`.trace` or `.all` would be the best) and give us a Call SID when this happens?

-bobie

[2019-04-10 03:54] dekpient commented on #159
Here you go. The attached log is from iPhone 7 Plus (12.2).
The audio was lost approximately between 15:48:58 - 15:49:03.
CallSID: CAc4714c845a06b3bad6a4f6113ddb1798

[code]

[2019-04-10 18:23] bobiechen-twilio commented on #159
Hi @dekpient

Thanks for the log! I've tried the same exercise (the same CallKit quickstart, iPhone XR, iOS 12.2) but couldn't really reproduce the same no-audio situation you described, so I would like to share my findings. Here's what I did:

### Case 1: local participant of the PSTN call hangs up
1. Launch CallKit quickstart and make an outgoing call
2. Once the call is connected, make a PSTN i

[2019-04-10 20:40] bobiechen-twilio commented on #154
Hi @Owchzzz

Thanks for the detailed descriptions and showing me how the delegate is instantiated and used in your code. It doesn't seem to have anything wrong the way the delegate is created in the answer scenario. It would be great if you can share with us once you have any findings regarding the lifecycle and the threading model that could have caused the issue.

Thanks,
-bobie

[2019-04-10 21:54] dekpient commented on #159
Hi @bchen-twilio, thanks for helping with this.

Yes, the audio was lost as soon as the PSTN interruption started. I didn't decline or accept the PSTN call and the audio came back on its own.

Based on the logs I posted, we've also noticed `"audio_level_out" = 0;` during audio lost. Interestingly `audio_level_in` was not zero but I couldn't hear a thing during those 5 seconds. Does that tell you s

[2019-04-10 22:07] dekpient commented on #159
@bchen-twilio another thing we want to clarify; based on our testing this issue seems to be device specific, so it'd be great if you could try on iPhone 7 Plus? and maybe iPhone X?

[2019-04-11 05:48] richardabear commented on #154
hi @bchen-twilio thanks i will definitely inform here once we have resolved the issue, so far no luck.

[2019-04-11 05:49] richardabear commented on #154
@bchen-twilio can we get an additional tag [nativescript] if possible on this issue just incase another nativescript developer is on here that might have an idea if thats alright

[2019-04-11 20:29] bobiechen-twilio commented on #159
Hi @dekpient

Thanks for the updates. The `"audio_level_out" = 0` pattern does match the no-audio issue as described although from the log I couldn't find any anomaly that could have caused the issue. I'll try to locate the iPhone 7 Plus or other device models we have in the team and first try to reproduce the issue.

-bobie

[2019-04-12 20:18] bobiechen-twilio commented on #159
Hi @dekpient

I've tried the steps on an iPhone7+ and didn't notice the audio-lost issue during the PSTN interruption (not by my ear or by the audio level in/out in the stats logs). While we continue to investigate the issue, could you also help us enable the log of the WebRTC module so we can take a look in case any `AVAudioSession` or `Audio Unit` error happened.
[code]

Thanks,
-bobie

[2019-04-15 12:08] MarcoCatalan opened #160 "[3.0] How to avoid AVAudioSessionErrorCodeMissingEntitlement"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

In previous version of this library (2.X), there was a workarround on reportNewIncomingCallWithUUID which called ```[TwilioVoice configureAudioSession];```
According

[2019-04-16 00:32] dekpient commented on #159
Weirdly enough, I haven't been able to reproduce this issue on any iPhones anymore – including the 7+ and X we experienced this before.

I'm closing this issue for now. But if I manage to reproduce it again, I'll post the logs from WebRTC module you requested.

Thanks for the help so far @bchen-twilio 😄

[2019-04-16 00:32] #159 closed, assigned to bobiechen-twilio

[2019-04-16 01:50] bobiechen-twilio commented on #160
Hi @MarcoCanalcar

I've tried the CallKit quickstart but couldn't reproduce the audio issue. My environments: the latest Voice iOS SDK, iPhone 7+, iOS 12.2.

Back to your original question, the 3.0 SDK does have the equivalent code to configure the audio device and AVAudioSession in preparation of the [outgoing](https://github.com/twilio/voice-quickstart-objc/blob/3.x/ObjCVoiceCallKitQuickstart/Vi

[2019-04-16 06:56] MarcoCatalan commented on #160
Hello @bchen-twilio,

Thanks for looking into this, I will try replicating the issue with the quickstart code and report my results.

[2019-04-22 08:04] MarcoCatalan commented on #160
Hello, It seems that after testing with the quickstart it works fine. I'll close the issue since it seems to be something in my code.

Thanks!

[2019-04-22 08:04] #160 closed, assigned to nobody

[2019-04-29 18:56] navaranjithavelladurai opened #169 "Invalid Access Token with header error Code=20101 status - 503"
Im facing this below issue, i used twilio for the purpose of voice call & i updated my pod file to 'TwilioVoice', '~> 3.0'

Here i'am using the below function to make a call

[code]

[2019-04-29 18:58] navaranjithavelladurai commented on #169
Kindly give some suggestion its urgent, let you know me what i did wrong

[2019-04-29 19:15] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

It's hard to tell what exact is causing the error with seeing the access token but basically the operation failed because the Access Token is invalid (either the format is wrong or the credentials are incorrect) and caused the authentication to fail.

Please check your Access Token in https://jwt.io/ and make sure you have all the credentials in it. You should see somet

[2019-04-30 09:30] navaranjithavelladurai commented on #169
No same crediential is working fine in android studio, but iOS only facing the issues

[2019-04-30 17:31] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

The `20101 Invalid Access Token` error indicates that either the format of the Access Token is invalid or the credentials or the identity in the token are invalid. Could you please check the contents of the Access Token?

Thanks,
-bobie

[2019-05-01 16:34] navaranjithavelladurai commented on #169
Here i formed & get the access token

let baseURLString = "https://xxxxxxx"
//let accessTokenEndpoint = "/accessToken"
let identity = "alice"
let twimlParamTo = "to"

[2019-05-01 17:52] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

Thanks for providing the code snippet. Please check the credentials in the Access Token generated from this URL are correct. I have a feeling that the Access Token string you received in the iOS application is in incorrect format since the Access Token should not have platform (Android/iOS) dependencies except for the Push Credential SIDs.

-bobie

[2019-05-02 07:42] navaranjithavelladurai commented on #169
could you please provide the dummy Access Token for test case purpose?

[2019-05-02 07:55] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

A random string like `ACCESS_TOKEN` should give you the error. Please make sure the Access Token is valid when calling the SDK methods.

-bobie

[2019-05-02 08:12] navaranjithavelladurai commented on #169
yah offcourse i tried to put the access token in  https://jwt.io/ means,
& its shows valid access token.

[2019-05-02 08:25] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

Please paste the contents (but mask your credentials) of the payload parsed from your Access Token.

-bobie

[2019-05-02 08:31] navaranjithavelladurai commented on #169
Kindly check the below contents
Header
{
  "typ": "JWT",
  "alg": "HS384",
  "cty": "twilio-fpa;v=1"
}

Payload
{
  "jti": "xxxxxx",
  "iss": "xxxxx",
  "sub": "xxxx",
  "exp": 1556789315,
  "grants": {
    "voice": {
      "outgoing": {
        "application_sid": "xxxxxx"
      }
    }
  }
}

Verified signature
HMACSHA384(
  base64UrlEncode(header) + "." +
  base64UrlEncode(payload),

your-256-bi

[2019-05-02 08:36] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

Assuming the masked credentials are correct (including the secret of the API Key), you would probably want to check if the `identity` is properly specified in the Access Token.

[2019-05-02 09:38] navaranjithavelladurai commented on #169
I passed my identity as:
let baseURLString = "https://xxxxx"
//let accessTokenEndpoint = "/accessToken"
let identity = "alice"
let twimlParamTo = "to"

Here i formed the baseUrl :
 guard let accessTokenURL = URL(string: baseURLString) else {
            return nil
        }
        return try? String.init(contentsOf: accessTokenURL, encoding: .utf8)

Here i get the response:
 let connectOptions: T

[2019-05-02 21:09] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

Thanks for providing the snippet. Not sure if I am missing something but can you explain how where is the `accessToken` variable being updated and assigned? and what contents are you seeing after the token is parsed by https://jwt.io ?
If you think the contents of the token does match the format in [my previous comment](https://github.com/twilio/voice-quickstart-objc/is

[2019-05-03 05:40] navaranjithavelladurai commented on #169
Okay thank you for support & time & i created a tickets in Twilio support as per your above comment, Kindly check it please.

[2019-05-12 22:16] colinyip opened #171 "Crash on EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
### Description

EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000d742d6deb13c

### Steps to Reproduce

I am not able to reproduce it locally, but it happened in our production app.

#### Logs

Please see the following example crash logs from firebase:

[code]

#### Voice iOS SDK

3.0.0

#### iOS Version

iOS 12.2.0

#### iOS Device

iPhone 6

[2019-05-13 03:28] colinyip commented on #139
closing the ticket now. It doesn't pop up anymore once we upgrade to 3.0.

We have a similar crash on 3.0 though, I have created a separate ticket for it. https://github.com/twilio/voice-quickstart-objc/issues/171

[2019-05-13 03:28] #139 closed, assigned to nobody

[2019-05-13 21:13] syrakozz opened #173 "no gettiing push in release mode"
i put a certificate for production in twilio but im not getting the push
the error in logs is >> Pushing to this topic is not allowed
am i doing it wrong ?

[2019-05-13 21:16] bobiechen-twilio commented on #173
Hi @syrakozz

Could you please provide more information so we can help you debug the issue?
- What is the platform (Android or iOS) that you are having trouble receiving notifications?
- What is the error code and description that you are seeing in your developer console?

Thanks,
-bobie

[2019-05-13 21:18] syrakozz commented on #173
sure, the platform is IOS
Error - 52143  - The push notification was rejected by APNs
Error -  52134 - Invalid APNs device token

[2019-05-13 21:31] bobiechen-twilio commented on #173
Thanks for providing additional info.
It seems like the Push Credential SIDs of the sandbox environment and production environment are mixed and used with the wrong environments. The Push Credential SID used for the production environment should only be used for production version of the iOS app. You can follow [the instructions](https://github.com/twilio/voice-quickstart-objc#8-create-a-push-cred

[2019-05-13 21:39] bobiechen-twilio commented on #173
Hi @syrakozz
By the way, when you said `Pushing to this topic is not allowed`, what was the error you were seeing? or was it in the detailed descriptions of the error that you saw in the console?

[2019-05-13 21:41] syrakozz commented on #173
i was seeing this
Error - 52143
The push notification was rejected by APNs

bindingType | "apn"
-- | --
primaryCorrelationId | "CA8e731cd4125a8f318c6c0d5371a4844b"
bindingSid | "BS42dbff3c0d30ffd49d3ca378b22634eb"
providerMessageId | "c28810fc-1a29-c38a-0f20-3dd11bead942"
requestId | "RQac2a9b606d4d9d7a6278bc448dbda808"
notificationSid | "NTe77ab87f1fbfb1dc5ca3c9e5697ba8a5"
module | "APNSBA"
descr

[2019-05-13 21:44] bobiechen-twilio commented on #173
Thanks for the update @syrakozz.
Please check if you are using the right Push Credential SID for the environment.

[2019-05-13 21:49] syrakozz commented on #173
i regenerate the certificate now , still not getting push , but in the error logs im only getting
52134 - Invalid APNs device token

[2019-05-13 21:51] bobiechen-twilio commented on #173
Hi @syrakozz

Since this is an iOS specific issue, could you please go to the [Voice iOS quickstart repo](https://github.com/twilio/voice-quickstart-objc) and open a new ticket so we can resume the debugging there?

Thanks.
-bobie

[2019-05-13 21:53] syrakozz opened #172 "52134 - Invalid APNs device token"
i put a certificate for production in twilio but im not getting the push
the error in logs is >>52134 - Invalid APNs device token
am i doing it wrong ?

[2019-05-13 22:01] bobiechen-twilio commented on #172
Hi @syrakozz

Thanks for creating the issue here. Could you please describe more about your environment?
- What is the environment config of the Push Credential SID (sandbox or non-sandbox)?
- Is the app installed from Xcode debugger or did you export the app for Ad Hoc or enterprise or store submission?

Also it would be great if you can update the error details like you did in [this issue](https

[2019-05-13 22:06] syrakozz commented on #172
non-sandbox
store submission (testflight)

[2019-05-13 22:09] #173 closed, assigned to bobiechen-twilio

[2019-05-14 07:33] syrakozz commented on #172
@bchen-twilio can you plz   provide a link to a step by step guide for production cert

[2019-05-14 07:47] syrakozz commented on #172
we are using twiml

[2019-05-14 19:55] bobiechen-twilio commented on #172
Hi @syrakozz

For Push Credential for the production environment:
- The VoIP cert is the same as the one used for development environment
- The Push Credential SID is different from the one used for the dev environment and  should be created separately. Same cert and secret are used but this time without checking the sandbox option in the Twilio console
- In your production application, specify ne

[2019-05-20 19:43] colinyip commented on #171
any update for this issue? @bchen-twilio

Thanks! 😄

[2019-05-20 20:17] bobiechen-twilio commented on #171
Hi @colinyip

Sorry for not responding back to you sooner.
Thanks for providing the crash and it seems like there is some custom audio device implementation in your application.
- Is it possible to tell (from the application/SDK log) what exactly is the action that the application was performing when the crash happened?
- Can you share some implementation details around the audio device in your ap

[2019-06-05 15:13] ariveraati commented on #172
We are getting the same error in our app. In our case this is an enterprise distribution / production app. Across all our devices we see the same error triggered in the Twilio debugger console. Also, when the app has been killed, an incoming call is not triggering the app to re-open. I assume it is related to this error. Please advise.

**Update**
Recreated the cert and push credential from scratc

[2019-06-05 18:38] bobiechen-twilio commented on #172
Hi @syrakozz, did you manage to receive push notifications for your production app?

Hi @ariveraati, glad to know that the notifications work with the new cert and push credential. Is the app able to provide the user incoming call notification in the background with the new certificate?

[2019-06-05 18:43] ariveraati commented on #172
@bchen-twilio Thanks for the quick reply. If the app is just backgrounded, the call comes in just fine. If the app is killed, we don't see the call. However, looking at the console log of the device, we see that it is receiving the VOIP push and trying to resume the app. It just doesn't succeed for some reason. We are still digging. I'll let you know if we find anything else strange in the logs. T

[2019-06-05 18:48] ariveraati commented on #172
@bchen-twilio the behavior we are seeing is basically what you described here: https://github.com/twilio/voice-quickstart-swift/pull/201 but the ObjC code we are using seems to incorporate your fix. The odd thing is that this only happens when the app is terminated. It works just fine when its in the background.

[2019-06-05 18:53] ariveraati commented on #172
@bchen-twilio sorry for the multiple messages here, but we do see that the push notification handler is being fired. When we manually open our app after an incoming push occurred while it was terminated, the callkit handler fires/continues and we briefly see the call pop up and immediately disconnect and disappear (even though the call occurred minutes ago). Its almost as though its queued and whe

[2019-06-05 19:35] bobiechen-twilio commented on #172
Thanks for the update @ariveraati. The observation you described matches what we also observed while working on the issue. I'll investigate with the sample apps and keep you updated.

-bobie

[2019-06-05 21:55] bobiechen-twilio commented on #172
Hi @ariveraati,

I've tried the quickstart (regular, not the CallKit one) and observed the same behavior when the app is terminated. The root cause is the same as the one we found last time - the app goes into background-suspended mode once the incoming push completion handler is fulfilled, before the user-notification can pop up. Not sure this is only happening when the app is terminated but we w

[2019-06-06 13:38] arivera-skycred commented on #172
@bchen-twilio Thanks for the information. I want to make sure I was clear on the issue we are seeing. It's specific to CallKit. When the app is killed, we don't see the CallKit popup at all. But then when we open the app manually, we see CallKit show up very briefly and then disappear.

The code block you posted above seems to only deal with a notification to the user, not CallKit specifically. Is

[2019-06-06 13:41] ariveraati commented on #172
@bchen-twilio Thanks for the information. I want to make sure I was clear on the issue we are seeing. It's specific to CallKit. When the app is killed, we don't see the CallKit popup at all. But then when we open the app manually, we see CallKit show up very briefly and then disappear.

The code block you posted above seems to only deal with a notification to the user, not CallKit specifically. Is

[2019-06-06 19:25] bobiechen-twilio commented on #172
Thanks for the additional info @ariveraati. I tried both the regular and the CallKit sample apps but was only able to reproduce the issue on the regular one that's why I was assuming it was only happening in the regular quickstart. However the issue you described still sounds related to the background-suspended issue.

Could you please share how and where the incoming-push completion (if the app i

[2019-06-06 19:35] ariveraati commented on #172
@bchen-twilio that method is identical to your example app.

I also looked for usages of the same call to `incomingPushHandled` and it seems to follow your example.

You can see the full implementation here: https://github.com/ariveraati/cordova-plugin-twiliovoicesdk/blob/master/src/ios/TwilioVoicePlugin.m

[2019-06-06 20:54] bobiechen-twilio commented on #172
Thanks @ariveraati.
While I am not the expert of the Cordova native plug-in, do you think this is similar to [this discussion](https://github.com/meteor/meteor/issues/8112)?

-bobie

[2019-06-06 20:56] ariveraati commented on #172
@bchen-twilio it could be specific to Cordova. I took a look at that thread and it seems as though they are seeing something related to JS callbacks, but that isn't really our problem. Our problem is specific to the CallKit handling which occurs within the native code (not cordova). We'll keep digging! Thanks for the help so far.

[2019-06-06 21:14] bobiechen-twilio commented on #172
Sure thing! Thanks for reporting the issue and sharing information since this could potentially help other SDK users using JS plug-ins. We would love to hear any new findings from you and definitely happy to assist.

-bobie

[2019-06-26 11:54] NatashaApporio commented on #90
I am getting error while adding Push Credential

![Screen Shot 2019-06-26 at 5 18 03 PM](https://user-images.githubusercontent.com/43563955/60177700-2b625a80-9837-11e9-9812-4c124c56df2e.png)
 There was a problem attempting to create a new Push Credential: Could not parse certificate

[2019-06-26 20:58] bobiechen-twilio commented on #90
Hi @NatashaApporio,

Could you please check the guides [here](https://github.com/twilio/voice-quickstart-objc#7-create-voip-service-certificate) and [here](https://github.com/twilio/voice-quickstart-objc#8-create-a-push-credential-with-your-voip-service-certificate) and make sure you are using a valid Apple VoIP certificate for creating the Push Credential?

Thanks,
-bobie

[2019-06-27 04:34] NatashaApporio commented on #90
HI @bchen-twilio ,

Actually the creation of .pem file was incorrect . Thanks for responding .

[2019-07-27 00:01] emostar opened #178 "Not receiving push notifications for incoming calls"
### Description

I'm unable to receive push notifications of incoming calls. I am using Flutter and Firebase Messaging, and have it setup to receive push notifications from Firebase.

I configured the VOIP certificate and uploaded the certificate and private key to Twilio. When I make a call to the number that outputs the <Client> TwiML, it rings, but I don't see any log output for my iOS device.

[2019-07-27 00:08] bobiechen-twilio commented on #178
Hi @emostar

Thanks for providing the Call SID. It looks like the status-callback URL you provided in your <Dial> response returned a 405 response, thus caused a failure when the Twilio Voice service tried to connect to the callee. Could you check the status of the callback?

Thanks
-bobie

[2019-07-27 00:15] emostar commented on #178
Hi @bchen-twilio

Thanks for the quick reply.

I have it working on Android despite the 405 response for the status callback. I went ahead and removed that, but am experiencing the same issue.

The latest call SID is CA64cd503c8eac8a4e68d29cd096cbf0f3

Thanks

[2019-07-27 00:50] bobiechen-twilio commented on #178
Hi @emostar

Thanks for the update.
I've checked the Call SID and the callee identity, and confirmed that the notifications were delivered to Apple's APN/VoIP service for callee. Are you not able to see the `didReceiveIncomingPushWithPayload` callback being triggered? You may also want to check the device log from the Mac OS Console app and see if the device does receive the notification but someh

[2019-07-27 01:49] emostar commented on #178
Thanks for the quick update again @bchen-twilio, it is really appreciated.

I was expecting the message to come through Firebase, but the callback you mentioned was the one that was getting triggered, after I implemented it. I was worried it was something to do with Flutter or Firebase... but it looks like I should be able to handle it from here. Thanks again!

[2019-07-27 01:49] #178 closed, assigned to bobiechen-twilio

[2019-08-01 03:03] piyushtank commented on #121
Reopened the issue as we we were able to reproduce the problem on iOS 13 Beta5. However it was hard to reproduce the bug in our experiments.

### Root Cause
When the app is background suspended, when an incoming call VoIP push notification is received, app reports the new call to CallKit and app runs in the background. CallKit UI keeps app running (non suspended) in background. Now when user rejec

[2019-08-15 00:30] alvin-cosare-appetiser commented on #98
@aryo would you mind sharing how you fixed this issue?

[2019-09-03 12:39] jvanakker opened #182 "No audio through speaker when running in Background"
### Description

The sample application contains a function called "toggleAudioRoute:(BOOL)toSpeaker".
In our application, we programmatically initiate an outgoing call. I have used toggelAudioRoute to force the call through speaker. This is working fine with the iOS app running in foreground, but it does not work when the app is running in the background (either locked iPhone or just with the app

[2019-09-04 11:26] jvanakker commented on #182
Just to elaborate as done here as well: https://github.com/twilio/twilio-video-ios/issues/8

Twilio provides two example implementations for integrating TwilioVoice: one using CallKit and one without. The integration in application is based on the one that's not using CallKit (as we have our own calling UI integration and don't want to use the Apple calling UI, etc).

Our outgoing call is initiate

[2019-09-06 18:47] jvanakker commented on #182
More info: If I enable Twilio debug info, I can see this error in the log, which is probably related to the no-audio problem when the app is backgrounded:
AUIOClient_StartIO failed (561145187)

Some solutions to this general error, suggest enabling AVAudioSessionCategoryPlayAndRecord for the AudioSession. It does however not solve the problem in this case.

**Looking elsewhere, I found that this s

[2019-09-06 18:56] bchen-twilio commented on #182
Hi @jvanakker

Thanks for providing helpful debugging info! Sorry for my lack of response but I have logged a ticket for tracking the issue. We will keep you posted when we make any progress.

Cheers,
-bobie

[2019-09-16 22:35] bchen-twilio commented on #182
Hi @jvanakker

How is the outgoing call programmatically triggered in your application? is it possible for you to provide SDK log when the no audio issue is happening?

Thanks,
-bobie

[2019-09-18 16:02] jpmermoz commented on #121
I'm getting the same issue on IOS 13.1. I'm also not getting incoming calls if the app is on background.

[2019-09-18 16:55] bobiechen-twilio commented on #121
Hi @jpmermoz

We are actively working on the issue regarding reject and will provide a release of the Voice iOS SDK soon. Please stay tuned.

Thanks,
-bobie

[2019-09-18 17:26] jpmermoz commented on #121
Hi @bchen-twilio , thank you!

[2019-09-20 17:42] bobiechen-twilio commented on #169
Hi @navaranjithavelladurai

I am assuming that the authentication problem has been resolved and things are working on your end. Closing the ticket for now but feel free to reach out to us if you run into any issue in the future.

Thanks,
-bobie

[2019-09-20 17:42] #169 closed, assigned to nobody

[2019-09-20 17:51] bobiechen-twilio commented on #121
Hi @nicolettemanas, @jpmermoz

We have just released our [5.0.0 Voice iOS SDK](https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#500), which include the background task fix for this problem. We have made some API updates in order for apps built for iOS 13 with Xcode 11 to comply to the new PushKit policy introduced by Apple. For more information please check out the [migration guide](https:

[2019-09-23 20:37] bchen-twilio commented on #182
Hi @jvanakker

Curious if the no-audio issue is still happening in your environment on iOS 13.1 beta (4)?

-bobie

[2019-09-30 00:02] klimentLambevski opened #186 "Problem accept call ios 13 build, tested on ios 12.4.1"
After the update to 5.0.0, accept call invite is not working and the  following error is thrown

[code]

ERROR:Twilio:[Platform]:AVAudioSession setActive Error Domain=NSOSStatusErrorDomain Code=561017449

[2019-09-30 00:18] klimentLambevski commented on #186
This is for swift, I will move the issue to the other repository